[2015-04-07 18:22] cmichaelgraham opened #1 "features question"
hi todd :smile:

can you take a look at https://github.com/ivogabe/gulp-typescript and let me know if there are things `tsproject` can do that aren't supported by `gulp-typescript`?

is it the tsconfig.json support?

thanks !!! :+1:

[2015-04-07 18:51] ToddThomson commented on #1
Hi Mike,

First, gulp-typescript is a gulp plugin which by definition needs to process a glob of vinyl files. The tsproject compiler is a node module which takes a directory path to a tsconfig.json file and generates a glob of compiled ts source files as specified in tsconfig.json ( js and d.ts files are produced ).

2ndly, the tsproject compiler provides a parser to read “bundle” data from an ext

[2015-04-10 21:07] ToddThomson commented on #1
Bundles within the tsconfig.json file, will now look like:
[code]
The modules specified after the bundle name are scanned for dependencies and then merged and written out to the bundle name.

[2015-04-10 21:09] cmichaelgraham commented on #1
Looks cool :+1:

[2015-04-17 18:49] ToddThomson commented on #1
I've updated tsproject to support typescript bundling at compilation time. Please see the current readme.

[2015-04-17 18:50] cmichaelgraham commented on #1
thanks for the heads up, todd !! :+1:

[2015-04-17 19:21] ToddThomson opened #2 "TsProject Roadmap"
Currently, TsProject is at the alpha stage of development. Over the next few weeks, I'll attempt to publish a new minor release which will add bundle compilation to generate the bundle javascript and declaration files.
Please note that TsProject originated as an experiment to see if I could package/bundle sections of an in-house library being converted to typescript. It works for me. I have made t

[2015-04-17 22:06] ToddThomson commented on #2
Compilation with generation of definition file for bundles added.
Next up will be error notifications and some pretty output.

[2015-04-20 22:02] ToddThomson commented on #1
TsProject updated to beta release 0.5.0. Please see the current readme.

[2015-04-20 22:04] ToddThomson commented on #2
Beta release now available on npm TsProject. Compilation diagnostics and statistics added in release 0.5.0.

[2015-04-21 16:13] ToddThomson opened #3 "BundleCompilerHost does not create defaultLibSourceFile"
The getSourceFile() in BundleCompilerHost does not create the a source file for the defaultLibFileName.

[2015-04-21 16:18] ToddThomson opened #4 "Compilation Statistics for NumberOfLines Compiled include defaultLib"
If the compile option, "diagnostics", is true, TsProject provides compilation statistics. The numberOfLines compiled includes the defaultLibFileName source file. This is accurate, but not informative.

[2015-04-21 16:28] ToddThomson commented on #3
This issue is fixed in commit: b0ca59efd49e164f4f7b077ffd2a7efa75cda028

[2015-04-21 16:28] #3 closed

[2015-04-21 16:28] ToddThomson commented on #4
This issue is fixed in commit: b0ca59efd49e164f4f7b077ffd2a7efa75cda028

[2015-04-21 16:28] #4 closed

[2015-04-21 19:28] ToddThomson opened #5 "npm publish does not include src directory"
npmignore filters out source *.js files.

[2015-04-21 19:38] ToddThomson commented on #5
This issue was fixed with commit: 8e32b1b873ab9ee1b6d4143e1596211f2a31c957

[2015-04-21 19:38] #5 closed

[2015-04-21 19:49] ToddThomson opened #6 "TsProject fails to compile with Typescript release 1.5.0 alpha"
Compiling with npm dependency, Typescript release 1.5.0-alpha results in an error when generating bundle dependencies.
TsProject requires module updates from a Typescript release after 1.5.0 alpha.

[2015-04-21 21:46] ToddThomson commented on #6
TsProject requires features from the forthcoming Typescript compiler release 1.5 ( the latest release is 1.5.0-alpha ). In order to use TsProject, please obtain the LKG bin directory from:

https://github.com/Microsoft/TypeScript/tree/release-1.5

[2015-04-22 16:15] ToddThomson commented on #1
@cmichaelgraham I've added a sample for a simple gulp based build using TsProject. See the "build" directory for what the bundled ts, js and d.ts files look like after the build.

[2015-04-22 16:20] niemyjski opened #7 "Question: How do I define multiple compiler options"
I want to have multiple compiler options that I can specify per build..

For example. I want to target es5 and es6. However in my es5 build I also want to include polyfills. Is this possible? Do you have a sample?

[2015-04-22 16:29] ToddThomson commented on #7
@niemyjski I just added a sample TsProject. Currently, compiler options are specified only in the specified tsconfig.json configuration file. It is possible to override tsconfig.json compile options in the tsproject.src() API call. I'll implement that feature today or tomorrow.

[2015-04-22 16:38] niemyjski commented on #7
Thanks, I'm assuming loglevel is a compiler option (in your sample). What about specifying different files for build configurations.. I'm wondering if I should have multiple tsproject files.. arg... once again microsoft has implemented something that doesn't work outside of the main scenario..

I'm trying to figure out how to do something like this

[code]

[2015-04-22 16:38] niemyjski commented on #7
How would you go about doing this?

[2015-04-22 16:48] niemyjski commented on #7
I guess I would do this with bundles.

[2015-04-22 16:53] ToddThomson commented on #7
@niemyjski My off the cuff thoughts are this:

1) not to fiddle too much with the standard schema Microsoft has defined for tsconfig.json;

2) augment the src() API to specify a specific configuration json file. For example:

     tsproject.src( ./src/project/nodees6.json )

[2015-04-22 16:53] niemyjski commented on #7
Thanks :)

[2015-04-22 16:55] ToddThomson commented on #7
I believe that will satisfy your requirements and is an easy patch. R U good with the idea?

[2015-04-22 16:57] niemyjski commented on #7
I think so, do you think it's the cleanest / best option? https://github.com/Microsoft/TypeScript/issues/2867 Do you have gitter?

[2015-04-22 17:03] ToddThomson commented on #7
The approach I've outlined is the cleanest and is consistent with the feedback you received from mhegazy.
I don't have gitter, but I will look into it this afternoon.

[2015-04-22 17:04] niemyjski commented on #7
Thanks for all of your help. I'll try this all later today. I'm in the process of splitting my project out into multiple files: https://github.com/exceptionless/Exceptionless.javascript

[2015-04-22 17:12] niemyjski commented on #7
Now that I think about it more, I'm thinking that I might be able to just use a single tsproject.json file.. As long as I can append ts files (even better remove files based on a wildcard). But I could live with just adding a file to the list..

[2015-04-22 17:13] ToddThomson commented on #7
You're welcome. My motivation for writing TsProject ( besides updating my ES6, node, gulp and npm skills ) was essentially to package an internal library into modular Typescript for today's ES3/5 world. Sounds like your on the same path.

[2015-04-22 17:27] cmichaelgraham commented on #1
looks great :+1:  the sample is very helpful :)

[2015-04-22 17:48] ToddThomson commented on #7
I think specifying a named Typescript configuration file is correct. Here is the new API. I'll update the npm package after testing.

# API

    tsproject.src( projectConfigPath: string, settings: any )

    where:

    projectConfigPath is a relative directory path to a default Typescript project file named "tsconfig.json".
    or,
    projectConfigPath is a relative path to a named Typescript pr

[2015-04-22 17:50] niemyjski commented on #7
Yeah, I like this change too. Microsoft had me create a feature request here: https://github.com/Microsoft/TypeScript/issues/2869 (you may also want to look at my other recent issues there too :)).

[2015-04-22 17:52] niemyjski commented on #7
Let me know when it's pushed and I'll test it out :)

[2015-04-22 17:59] niemyjski commented on #7
In your example, you may want to update the options, because I don't know if this some-bundle-option overrides a typescript compiler option or what. Also, from looking at the sample, I'm not sure if source can take an array..

[code]

Finally, I'm curious as to how I could include the default file list with source property and add a file to it.. Sorry for the onslaught of questions.

[2015-04-22 18:25] niemyjski commented on #6
Is there anything I need to do to get this to work?

[code]

I tried to install the latest via npm via `"typescript": "git://github.com/Microsoft/TypeScript.git"`

[2015-04-22 18:28] niemyjski commented on #6
![image](https://cloud.githubusercontent.com/assets/1020579/7282116/72ba7fc2-e8f3-11e4-94c2-dd98da1ed965.png)

[2015-04-22 18:30] niemyjski commented on #6
I'm an idiot, I'm getting this because you are looking at tsconfig.json and I have a tsproject.json... Do you need to update this to be tsproject? or are we going to use a different format?

[2015-04-22 18:32] niemyjski commented on #6
You fixed this but the npm package def wasn't updated to reflect the latest changes.

[2015-04-22 19:25] niemyjski commented on #6
I'm getting the following error:

[code]

My tsconfig.json file contains this:

[code]

as well as an array of files.

[2015-04-22 19:31] niemyjski commented on #6
It doesn't look like the Project.getOptions method is finding the compilerOptions.

[2015-04-22 20:20] niemyjski opened #8 "Bundle definition files."
Will this also bundle definition files?

[2015-04-22 20:21] niemyjski opened #9 "Rename project to tsconfig"

[2015-04-22 20:24] ToddThomson commented on #6
@niemyjski I need to catch up with publishing to npm. I'll let you know when it has been done.

[2015-04-22 20:27] ToddThomson commented on #8
Yes. That was the main motivation behind TsProject: single build context with modular Typescript ( ts, js and d.ts ) as the result.

[2015-04-22 20:28] niemyjski commented on #8
I'm running into multiple bugs. Is there any chance we could skype and work through them (pair)?

[2015-04-22 20:28] ToddThomson commented on #9
Please provide a description so I can answer your question/issue.

[2015-04-22 20:29] niemyjski commented on #6
Thanks, I'm currently blocked on this. Please let me know if there is anything I can do.

[2015-04-22 20:30] niemyjski commented on #9
this project is called tsproject but the config file that typescript uses is tsconfig. The name is kind of confusing (I initially created a tsproject.config and wondered why it didn't work :D

[2015-04-22 20:52] ToddThomson commented on #9
It is named TsProject because it performs compilation based on a TypeScript Project file. The default name for a Typescript project file is tsconfig.json. The main difference between TsProject and other Typescript compilers is that TsProject uses a single source file ( a Typescript configuration file ) to generate a gulp vinyl file stream, whereas other compilers consume a vinyl source stream from

[2015-04-22 20:52] #9 closed

[2015-04-22 20:53] niemyjski commented on #9
Thanks for the clarification

[2015-04-22 20:55] niemyjski commented on #6
If you want, you can reproduce the errors by pulling down this repo: https://github.com/exceptionless/Exceptionless.javascript

You'll need to run:

* npm install
* tsd reinstall -s

and then uncomment the line in the gulp file to use tsproject and then run `gulp build`

[2015-04-22 20:56] niemyjski commented on #8
I sure hope this works (will be a huge life saver) currently I just refactored all of my code to be multiple files ( https://github.com/exceptionless/Exceptionless.javascript ) and now I'm getting multiple module exports (Seriously WTF) and tons of type definitions.

[2015-04-22 21:01] ToddThomson commented on #6
I will take a look...

[2015-04-22 21:07] niemyjski commented on #6
Thanks. p.s., you might also notice that I have a method in my gulp file called fixFilePath.. I ran into this on my work around.

[2015-04-23 01:24] ToddThomson commented on #6
Error diagnostics are not properly checked after calling parseConfigFile().
After updating the project class, your errors were reported as:
[ 'getConfig() failed' ]
error TS5023: Unknown compiler option 'declarationFiles'.
error TS5023: Unknown compiler option 'sortOutput'.
Process terminated with code 0.

[2015-04-23 02:09] niemyjski commented on #6
Why would I be getting those errors? Did they remove those in 1.5? They worked before.. Does it sort the output now by default? Also how does it control of def files are created. I'm pretty sure I saw these properties in the ms sample but I'd need to check

[2015-04-23 15:35] ToddThomson commented on #6
Those compiler options are no longer supported in Typescript 1.5.

[2015-04-23 15:52] niemyjski commented on #6
Thanks for the update.

[2015-04-23 16:07] ToddThomson commented on #6
Let me know if you have any additional issues.

[2015-04-23 16:07] niemyjski commented on #6
I'll try this shortly and let you know :)

[2015-04-23 16:17] niemyjski commented on #6
I can no longer do:

[code]

[code]

What would I need to do to accomplish the same thing? I need a typescript definition created and bundles using all of the files defined in my tsconfig file. However, I need to post merge the results with vanilla javascript files.

[2015-04-23 16:17] niemyjski commented on #6
I was able to build without this error but nothing was outputted.

[2015-04-23 16:23] niemyjski commented on #6
I enabled logging too because my code that looks like your sample wasn't working.. So I added an out file path and nothing is written. I enabled logging and I get this but no file.

[code]

If you could take a look at my project that would be a huge help.

[2015-04-23 17:03] ToddThomson commented on #6
Perhaps what is causing your confusion is that TsProject is not a gulp plugin - it is a gulp vinyl adapter. TsProject.src() takes a Typescript project configuration file as input and produces a stream of vinyl files. If you .pipe( gulp.dest( './mybuild' ) ) from the output of tsproject.src() you will see the compiled files in the ./mybuild directory.
I simplified your gulpfile.json to do this and

[2015-04-23 17:09] niemyjski commented on #6
Thanks for the clarification, I'm a js/gulp nub and still a bit confused. If it's returning a stream of files, than why can't I run my existing gulp plugins on that stream?

Also, I do think that there is a bug because I specified an out setting in my tsconfig and nothing was written to that folder. I think it should take this into account and just default to that output folder by default.. I'm no

[2015-04-23 17:19] ToddThomson commented on #6
Your gulpfile.json is too complex for me to analyze. Here is the gulp build task I used for your project.

gulp.task( "tsbuild", function() {
    return tsproject.src( './src/tsconfig.json', { logLevel: 0 } )
            .pipe( gulp.dest( './project' ) );
} );

You should see all the compiled files in the ./project directory.

[2015-04-23 18:27] niemyjski commented on #6
Thanks, I'll try it and let you know.

Is there anything I do to pass the js stream of files to another gulp plugin or am I going to have to write to a folder first and then load them up using gulp.src?

[2015-04-23 18:33] niemyjski commented on #6
I just tried using that exact same gulp task and nothing worked. Is there any chance we can meet up for a remote session to debug this together?

[2015-04-23 18:41] ToddThomson commented on #6
Update your GitHub repository and I'll bring it down.
My guess is that you just need to modify your tsconfig.json compilerOptions. Here are the compilerOptions I used to build your project successfully.
"compilerOptions": {
    "declaration": true,
    "module": "amd",
    "removeComments": true,
    "sourceMap": true,
    "target": "es5"
  },

[2015-04-23 19:04] niemyjski commented on #6
I updated the build to reproduce run:

* gulp clean
* gulp typescript

Also please note that I don't think I should be required to pipe the output to a dist folder when I already have the file path specified in the tsconfig.json... Reguardless, you can see that it doesn't work.

[2015-04-23 19:31] ToddThomson commented on #6
I don't use tsd. How do you install it?

[2015-04-23 19:40] niemyjski commented on #6
npm install tsd

On 4/23/15, Todd Thomson <notifications@github.com> wrote:

--
Thanks
-Blake Niemyjski

[2015-04-23 19:53] ToddThomson commented on #6
I needed to install to global. Anyway..
Blake, by specifying "out" you are asking the Typescript compile to merge all output and write to a named file. I removed the "out" option and your project compiled without error.

[2015-04-24 13:10] niemyjski commented on #6
Hello,

That is what I want, I want it all outputted to a single file. How do I get this to work like this? I removed it and ran the code and I got this:
![screen shot 2015-04-24 at 8 08 04 am](https://cloud.githubusercontent.com/assets/1020579/7319174/14cffe5c-ea59-11e4-9343-0435dda52151.png)

The whole reason for me using this project is to allow me to have different builds and combine all these

[2015-04-24 13:28] ToddThomson commented on #6
Yes, this is the whole reason for TsProject -> bundling of external modules. "files" gives you individual ts -> js transpiling ( and d.ts if you ask for them ); "bundles" gives you ts to js, d.ts,, ts, where the source module yields a combined bundle/package of modules ( modular typescript ) based on a dependency alalysis of the source module. All dependent modules of the source ts file are bundle

[2015-04-24 13:31] niemyjski commented on #6
gotcha, so what does one need to do to create a bundle, it didn't seem straight forward to me how to define a named bundle and only process that bundle (or do all bundles get executed at once). How do I resuse existing files that are defined in the tsconf (files array) in a bundle? And then add to the files array in a bundle def?

[2015-04-24 13:32] niemyjski commented on #6
Sorry for all the questions, I hope you can use my project as an example for this project :)

[2015-04-24 15:55] ToddThomson commented on #7
https://github.com/ToddThomson/tsproject/issues/7#issuecomment-95285224

A bundle will now have a "source" and "config".
Currently, "source" is a string specifying the source module used to determine the dependency bundle.

[2015-04-26 09:23] niemyjski commented on #6
Should I create a new issue for this?

[2015-04-26 14:43] ToddThomson commented on #6
Yes. I am going to close this issue when TS 1.5 is officially released.

[2015-04-27 13:58] niemyjski opened #10 "Error while compiling bundles."
I recently added bundles for my project https://github.com/exceptionless/Exceptionless.javascript after looking at your sample.

I'm getting the following error:

[code]

[2015-04-27 14:12] niemyjski commented on #10
![image](https://cloud.githubusercontent.com/assets/1020579/7349261/62a8b004-ecbd-11e4-8662-56645a8ccb0f.png)

It appears that the buffer is blowing up because the definition doesn't exist in the outputText. Also, I noticed that my file dependencies is empty even though it should contain all of the files defined in the tsconfig.

[2015-04-27 14:32] niemyjski commented on #7
Referring to the bundle section: is "config" for specifying compiler options or should I be specifying that with the "options".

[2015-04-27 14:34] niemyjski opened #11 "Error while running sample"
[code]

[2015-04-27 14:35] #8 closed

[2015-04-27 14:36] niemyjski commented on #10
I noticed that there is also a bug where if you set `compilerOptions.declaration = false` this code still runs.

[2015-04-27 15:15] ToddThomson commented on #7
Each bundle section contains a source property and config property. The config property is defined as:

     export interface BundleConfig {
         basePath: string;
     }

[2015-04-27 15:19] niemyjski commented on #7
Ah okay, I should've checked the source. I'm trying to do a better job at this. just so many files. My thinking was config would override the base compiler settings.

[2015-04-27 15:22] niemyjski commented on #10
@ToddThomson I'm really blocked on this, is there anything I can do to help. If you could meet up with me and give me a project overview of how all the pieces work / how you want them to work. I would feel more comfortable doing a pull request.

[2015-04-27 15:29] ToddThomson commented on #11
The Sample app has now been updated to work with the latest TsProject.

[2015-04-27 15:32] niemyjski commented on #11
Thanks

[2015-04-27 15:32] #11 closed

[2015-04-27 15:37] ToddThomson commented on #7
I'll fully document the API via the Wiki for release 1.0.0 .

[2015-04-27 15:59] ToddThomson commented on #2
The roadmap for TsProject will be moved to Wiki.

[2015-04-27 16:25] ToddThomson commented on #10
Your project, Exceptionless, is organized as a single internal module. Typescript doesn't require TsProject  bundling to merge all the compiled files to produce a single output file. This is done with the Typescript --out compiler option.
The problem that TsProject bundling solves is when a project is using external modules ( ES6 import, export ). Bundling works by performing an analysis on extern

[2015-04-27 16:31] ToddThomson commented on #10
@niemyjski In your screenshot above, what editor are you using. How are you getting the debug breakpoint?

[2015-04-27 16:31] niemyjski commented on #10
Yes, I'm slowly working towards es6 modules (import and export) but I'm not there yet as 1.5 tooling isn't there in webstorm. I have external non typescript dependencies that I need to bring in.. Your tool was the only tool I found for working with the tsconfig via gulp..

[2015-04-27 16:31] niemyjski commented on #10
WebStorm.. I added you on skype. I'd be more than happy to show it to you / work with you.

[2015-04-27 16:43] niemyjski commented on #10
They have a free open source license and the editor is awesome.. I'm not sure how to proceed. I'm really blocked and I wanted to use your bundles to render an es5 and es6 version out very cleanly. It would be awesome if you supported this..

[2015-04-27 16:53] ToddThomson commented on #10
I saw the open source license option. I may look into it. I want to try to get node for VS 2013 working first.

Since you do not need bundling, you can accomplish your goals by having TsProject compile your project using different tsconfig.json project configuration files from within your gulpfile.json.

[2015-04-27 16:55] niemyjski commented on #10
could you please create a new sample using the out compiler option

[2015-04-27 16:57] niemyjski commented on #10
![image](https://cloud.githubusercontent.com/assets/1020579/7352850/937c4846-ecd4-11e4-9953-0a0b7205a4e5.png)

![image](https://cloud.githubusercontent.com/assets/1020579/7352857/9f679d0e-ecd4-11e4-82ac-7016972f2ea6.png)

Is this normal?

[2015-04-27 17:06] ToddThomson commented on #10
That is the output from the compiler - it looks like commonjs output.

[2015-04-27 17:11] niemyjski commented on #10
That is so damn nasty.. it knows that it's all in one module file.

[2015-04-27 17:22] ToddThomson commented on #10
@niemyjski Sorry, no intention of being nasty at all. I was just trying to answer your question.

Yes, it appears normal to me.

I am happy to help you Blake and I feel your frustration. From what I know, you are attempting to compile a single internal module project with different compiler options. To get a single file output to js and d.ts all you need to do is use more than 1 typescript project

[2015-04-27 17:27] niemyjski commented on #10
No, I was just referring to the output :). You've been a huge help and I greatly appreciate all that you are doing.

[2015-04-27 17:30] niemyjski commented on #10
What I wish is I could use your bundle options or some addin to automatically say these are my dependencies concat them into the output. That would save me a bunch of work in gulp doing repetitive stuff.  I've logged this ugly behavior and more on the typescript issue tracker:

https://github.com/Microsoft/TypeScript/issues/2930
https://github.com/Microsoft/TypeScript/issues/2931
https://github.co

[2015-04-27 17:46] ToddThomson commented on #10
I usually find that working on 1 issue at a time works best. What is the 1 issue that you need to have resolved first?

[2015-04-27 17:53] niemyjski commented on #10
I put them in the order that I'd like to see them in :). Regardless if you do them or not, I appreciate taking the time to consider them.
1.
`tsProject.src('src/tsconfig.json', { ts compiler options here }).pipe(gulp.dest('dist'));`
2. Ability to be able to specify bundles that have compiler options that get merged in.. This would allow me to have a single file like I wanted above and be able to j

[2015-04-27 18:10] ToddThomson commented on #10
I believe I understand what you want to solve...
Given: You have a library, exceptionless, that is organized as a single internal module. You need to compile this library with different compiler options. Your library has external 3rd party dependencies.
Problem 1: You can build your library using TsProject, but from your gulp build script, you must provide a different Typescript project file for e

[2015-04-27 20:05] ToddThomson commented on #10
For the original issue:

Bug: When compiling bundles, the Typescript transpiler result was not properly checked for error conditions before streaming.
This issue will be fixed in npm release 0.7.7.

[2015-04-27 20:47] niemyjski commented on #10
Yes, that is correct :)

[2015-04-27 20:50] niemyjski opened #12 "gulp task returns prematurely"
I have a gulp task

[code]

that returns before tsproject pipes the content to disk. This is a huge problem as my other tasks that depend on it are blowing up / weird behaviors because the file that should be there isn't written out yet. Can you implement a callback or have the return work with gulp.

https://github.com/gulpjs/gulp/blob/master/docs/recipes/running-tasks-in-series.md

[2015-04-27 20:51] niemyjski commented on #12
I'm trying to track this down to the root cause, but I think so far this is the behavior.

[2015-04-27 20:53] ToddThomson commented on #10
56ae8df2ff7155f5e0100e781bdece7e28fd8e02

[2015-04-27 20:54] niemyjski commented on #10
awesome thank you!

[2015-04-27 21:02] niemyjski commented on #12
This is the behavior that I'm seeing under the debugger. My next task is ran and no files are outputted until the middle of my task

[2015-04-27 21:06] #10 closed

[2015-04-27 21:30] ToddThomson commented on #12
You need to add a return within your dependent gulp task.

[2015-04-27 21:40] niemyjski commented on #12
When I run my build I get:

[code]

and then when I comment out the return for the tsproject task I get.

[code]

[2015-04-27 21:42] niemyjski commented on #12
You can reproduce it by pulling down my  source. It's a really odd behavior.

[2015-04-27 22:22] ToddThomson commented on #12
There is definitely an issue here. I'm investing...

[2015-04-27 22:22] niemyjski commented on #12
Thanks a bunch. It has me stumped

[2015-04-28 16:23] ToddThomson commented on #12
@niemyjski You wrote: https://github.com/ToddThomson/tsproject/issues/12#issue-71398289

Would you please try:
[code]

[2015-04-28 16:51] niemyjski commented on #12
I'm in the middle of a broken build but I'm 95% sure I tried that yesterday and it didn't work because the tsProject is async and you need to call the callback at the end of the pipe. I also tried doing:

[code]
and that didn't work either.. I tried a bunch of things.

[2015-04-28 17:06] ToddThomson commented on #12
@niemyjski It did work for me. However, I've also fixed an issue where the output compilation stream is not EOF'd properly. This also corrected the task synchronization issue without the need for providing a callback hint for the gulp task that uses TsProject. I will publish 0.7.8 to npm now.

[2015-04-28 17:15] niemyjski commented on #12
Thanks, I'll try it out shortly!

[2015-04-28 18:55] niemyjski commented on #12
It seems to be running now but I'm not getting any output. I did change everything to use es6 modules... Is there any chance you could take a look?

[2015-04-28 19:34] ToddThomson commented on #12
Your build task looks like it is performing an unwanted delete.

[2015-04-28 19:51] niemyjski commented on #12
It deletes the temp folder after everything is completed. The only thing I changed was updated to use the new es6 modules. Maybe that has something to do with it, but not sure what. I thought that when I specified the files in the tsconfig than they would all be compiled

[2015-04-28 20:26] ToddThomson commented on #12
I sync'd your latest project on GitHub. When I built it with your gulpfile there were errors. There were some emits however. Please update your project on Github so that there are 0 errors and I will take a look.

[2015-04-28 20:29] niemyjski commented on #12
I'm not sure what errors you are talking about:

[code]

Are you using the es6 module format with 1.5? and getting a single file output?

[2015-04-28 20:40] ToddThomson commented on #12
I forgot that you use tsd to update your type definitions for your 3rd party dependent libs.

Typescript does not support single file output with ES6 module syntax. Typescript with external modules produces a single output file per module ( this is desirable when the web gets new protocols other than http ).

Yes, I use ES6 module syntax for all my projects now. In today's ES5 world this causes a

[2015-04-28 20:44] niemyjski commented on #12
Thanks, is it possible to use r.js to output a single file? What are you doing for today's browsers? I desperately need a single file as it will be going on a cdn.

[2015-04-28 20:52] ToddThomson commented on #12
OK. When I first started working with Typescript the gotchas for me were internal and external modules ( at that time the ES6 syntax was not yet available ). Along with /// references, it was all very confusing.

Your current problem is using -out with external modules - sorry typescript does not support this. This is the main reason why I wrote TsProject - to be able to bundle external modules.

[2015-04-28 20:54] niemyjski commented on #12
How can I do this using TsProject? Just let me know what I need to do and I'll do it.. This is all new to me es6 modules. I figured typescript wouldn't ship without this ability.

[2015-04-28 20:54] ToddThomson commented on #12
You should check out a few 3rd party javascript libraries and see how they manage their production builds. Not too many use Typescript at this point though.

[2015-04-28 20:56] ToddThomson commented on #12
https://github.com/ToddThomson/tsproject/issues/12#issuecomment-97204278

Typescript 1.5 is a massive move forward for javascript developers. Unfortunately, it gives a glimpse of the future ( which we all want to have ), but the future is not here yet!

[2015-04-28 20:59] niemyjski commented on #12
Yeah, I was assuming I could maybe now create a bundle but that doesn't work returns with exit code 1. I'm guessing it's a circular dependency.

[2015-04-28 20:59] niemyjski commented on #12
I think I may have to revert. I've wasted a week by going to a multi file approach..

[2015-04-28 21:00] niemyjski commented on #12
[code]

[2015-04-28 21:01] ToddThomson commented on #12
You can certain use TsProject to create a monolithic library using ES6. That was what the bundling support is for. Please be warned that there will be a few bugs as your project is a bit more complex that what I've tested with.

[2015-04-28 21:03] ToddThomson commented on #12
Update your config file on Github and I'll look at the issue.

[2015-04-28 21:03] niemyjski commented on #12
Okay, give me a minute.

[2015-04-28 21:12] niemyjski commented on #12
I updated my sample, thanks again!

[2015-04-28 21:20] ToddThomson commented on #12
I am able to recreate the dependency walker issue. I am going to create a new issue for this.

[2015-04-28 21:22] ToddThomson opened #13 "Stack overflow in DependencyWalker"
npm release 0.7.8 - Tracking an issue with the BundleCompiler dependencyWalker.

[2015-04-28 21:23] niemyjski commented on #13
I feel after I get everything working we will have a solid 1.0 release :D

[2015-04-28 21:31] ToddThomson commented on #13
Well, Typescript 1.5 is not even out yet :D . Thank-you for being so patient!

Your project's imports do contain circular dependencies, but the dependency walker should handle them. I'll figure it out in a bit...

[2015-04-28 22:42] niemyjski opened #14 "Make Bundle Source property supporting multiple files."
My understanding is that when you specify files, it's all of the files you are allowing to be parsed and outputted if using the out property. However, if you are using the bundle config, it will walk the file you specify in the source and output a single file (will it also ensure every file define in the files path is included?).

In my project I have the concept of integrations/plugins. where a p

[2015-04-28 23:18] ToddThomson commented on #14
Yes. I had originally planned on having source as an array. It adds complexity to the bundle build, so I have made it a single string for now.

[2015-04-29 12:05] niemyjski commented on #13
Thanks for the fix. I upgraded to the latest build 0.7.9 but now I get a ton of exceptions. I think it has do do with how you bundle things. It's not taking into account my es5 promise definition (I think) and there are some other errors. Should I create a new issue?

[2015-04-29 12:13] niemyjski opened #15 "Bundling errors"
After I upgraded to 0.7.9 (thank you). I'm able to build but I get errors in my project.

Lots of the following:

[code]

Previously I defined all my dependencies that I'd like merged in and they were. But now it's only files that are referenced off the Source ts document. I think the issue is because of this, the type definition files that I included in the files list isn't picked up. Could we ad

[2015-04-29 12:13] niemyjski commented on #13
Logged a new issue here: https://github.com/ToddThomson/tsproject/issues/15

[2015-04-29 12:25] ToddThomson commented on #14
I feel that overall, the main purpose of TsProjects's bundles is to define a set of source files ( that utilize ES6 import syntax ) that can be compiled into a named module. The idea is to have the same type of merged output as if using Typescript internal modules and the -out option.
When I first saw Typescript tsconfig.json, I thought that the compilation context would allow for this. It unfortu

[2015-04-29 12:26] ToddThomson commented on #1
@cmichaelgraham You may be interested in this: https://github.com/ToddThomson/tsproject/issues/14#issuecomment-97408392

[2015-04-29 12:30] ToddThomson commented on #15
@niemyjski is saw that yesterday too. It got me to rethink what is required for the 1.0 milestone. Here are my thoughts: https://github.com/ToddThomson/tsproject/issues/14#issuecomment-97408392

[2015-04-29 12:31] niemyjski commented on #14
But when I use the source property its context (parsed) and not file (property) based.

[2015-04-29 12:56] ToddThomson commented on #14
TsProject will now support an array of "files": [file1.ts, file2.ts, .. ]

[2015-04-29 13:05] ToddThomson commented on #14
I propose that "bundles" become "modules".

[2015-04-29 13:16] niemyjski commented on #14
I like either name. I think modules makes sense because you are outputting a module but bundles makes it somewhat clear that you are bundling something into a single module.

[2015-04-29 13:32] niemyjski commented on #15
Do you think there is anything I can do to to improve the quality of my build process ./ js project? It seems like I'm fighting a lot of battles right now and it should be easier (but it could just be that I'm doing this for the first time like many others will be doing soon).

Will your multiple file source property solve the promise definition issue? Is there anything I can help with? I think I

[2015-04-29 13:45] ToddThomson commented on #15
@niemyjski I am currently adding "files" support for bundles. I will try to get this done quickly.
Let me get this done first and then we can work on your build.

[2015-04-29 14:09] cmichaelgraham commented on #1
@ToddThomson thanks for the heads up.  planning to dig deeper into this shortly :+1:

[2015-04-29 14:57] niemyjski commented on #15
@ToddThomson Thanks!

[2015-04-29 17:18] ToddThomson commented on #14
@niemyjski There are breaking changes in npm release 0.8.0. See readme.md and sample tsconfig.json.
Note: This change does not address build errors that result from the inclusion of ambient d.ts dependencies.

[2015-04-29 18:54] niemyjski commented on #14
Thanks I upgraded and since everything is resolved from dependencies. I didn't think I needed to include a files property. However I get the error:

[code]

[2015-04-29 18:57] niemyjski commented on #14
I just updated my build. I tried putting the promise typing as part of the files array but I still get a ton of errors.

[2015-04-29 18:59] niemyjski commented on #14
It's almost like the promises definition isn't getting resolved.

[2015-04-29 19:14] ToddThomson commented on #15
TsProject does not correctly process ambient external module declarations.

[2015-04-29 19:20] niemyjski commented on #15
Is this something that will be supported? Is there anything I can do?

[2015-04-29 19:35] ToddThomson commented on #15
I'm adding the support now...

[2015-04-29 19:50] ToddThomson commented on #15
When using ES6 module syntax, use the following for external libraries (chalk as example):

     import chalk = require( 'chalk' );

[2015-04-29 19:53] niemyjski commented on #15
But the issue is promise is a polyfil and all my dependencies are internal.

[2015-04-29 19:53] niemyjski commented on #15
So I'm not sure what to do in this case. I'm using the es6 module spec

[2015-04-29 20:54] niemyjski commented on #15
What would you recommend doing for polyfills (es6-promise) where my build will error out if I'm targeting es6 if I include it?

[2015-04-29 20:54] niemyjski commented on #15
Also, were you able to reproduce the duplication of ExceptionlessClient? I really appreciate taking the time to look into this.

[2015-04-29 20:57] ToddThomson commented on #15
I'll get to your questions after I finish testing the changes for ambient external module declarations.

[2015-04-30 01:21] ToddThomson opened #16 "compile with import something = require( 'something' ); gives multiple not found errors"
CompilerHost.getSourceFile() must return undefined for fileName that does not exist.

[2015-04-30 13:38] #16 closed

[2015-04-30 13:40] #13 closed

[2015-04-30 13:43] ToddThomson commented on #14
Referencing issue #15 for Bundling build errors.

Bundle "source" is now "files" and takes an array of file names.

[2015-04-30 13:43] #14 closed

[2015-04-30 13:45] ToddThomson commented on #12
Original issue has been fixed.

[2015-04-30 13:45] #12 closed

[2015-04-30 13:46] ToddThomson commented on #6
This issue has been fixed.

[2015-04-30 13:46] #6 closed

[2015-04-30 13:50] ToddThomson commented on #15
https://github.com/ToddThomson/tsproject/issues/15#issuecomment-97583170

I am not sure. This would actually be a good question for the Typescript team.

[2015-04-30 13:58] niemyjski commented on #15
Thanks, It seems to went away with your latest version but I'll still have to check the duplicate issue. However, still a ton of compiler issues :( with unable to find promises.

[2015-04-30 14:10] ToddThomson commented on #15
The issue is with the bundleCompiler and it not dealing with references properly. I'm working on this now.

[2015-04-30 16:31] ToddThomson commented on #15
Within the Typescript configuration file add a reference file ( references.d.ts ) that references 3rd party dependent libraries. Add this file to the bundle "files".

{
    "compilerOptions": {
        "module": "amd",
        "target": "es5",
        "noResolve": false,
        "declaration": true,
        "diagnostics": true,
        "listFiles": true
    },

    "files": [
        "main.ts",

[2015-04-30 16:32] niemyjski commented on #15
Thanks, I'll try this now!

[2015-04-30 16:36] niemyjski commented on #15
Lots of <3 over here! You are amazing!!!

[2015-04-30 16:37] niemyjski commented on #15
Do you have any recommendations for my build process. I was thinking that I could have a node and browser library in one and just do my node specific imports inside of the class. Any recommendations for doing something like this.

[2015-04-30 16:40] ToddThomson opened #17 "Find Dependencies in Ambient External Module Declarations"
TsProject does not currently walk the dependencies within Ambient External Module Declarations.

[2015-04-30 16:46] niemyjski commented on #17
What's an AEMD? I've never heard of that term before?

[2015-04-30 16:52] ToddThomson commented on #17
@niemyjski Sorry, I forgot my "never use acronyms" rule! Ambient External Module Declarations.

[2015-04-30 19:24] niemyjski opened #18 "Output structure"
I noticed this changed recently and I'm not sure if this is the intended behavior (I'm happy that it works).

![image](https://cloud.githubusercontent.com/assets/1020579/7420735/8e998254-ef44-11e4-8dbd-feb01a367994.png)

When I pipe my output to the temp folder I was expecting the files to be at the root but everything is placed under the same structure as the code

[2015-04-30 19:57] niemyjski commented on #15
I got everything working great in es5 land but the es6 build is failing. I upgraded everything including the typescript beta..

The funny thing is it's not finding core types that come with es6.

[code]

[2015-04-30 19:59] ToddThomson commented on #18
Yes, this is now the intended behavior. Bundles now go into the basePath of the tsconfig.json file. You can specify the bundle config option outDir to place the bundles relative to the basePath.

[2015-04-30 20:17] niemyjski commented on #18
Thanks for the update :)

[2015-04-30 20:18] #18 closed

[2015-04-30 20:22] niemyjski commented on #18
This may be a bug I set the `"outDir": "../"` thinking it would but the bundle in the temp folder and it didn't. Regardless this is a tiny thing I don't care about too much.

[2015-04-30 20:40] ToddThomson commented on #15
This is a bug. The compilation of the standard files works fine. It is only in the bundleCompiler that the errors exist. I'm going to add an issue for this.

[2015-04-30 20:42] ToddThomson opened #19 "Bundle Compilation Errors with ES6 Target"
Issue for tracking.

[2015-04-30 20:48] ToddThomson commented on #18
https://github.com/ToddThomson/tsproject/issues/18#issuecomment-97955158

Regardless of tiny or not - would you please open an issue for the problem?

[2015-04-30 21:09] niemyjski opened #20 "outDir property is ignored when outputting files"
I set the outDir property to "outDir": "../" thinking it would but the bundle in the temp folder as shown in my screenshot. However it was ignored.
![image](https://cloud.githubusercontent.com/assets/1020579/7422521/2f02a42e-ef53-11e4-934b-2627a5000007.png)

[2015-04-30 21:30] ToddThomson commented on #20
I cannot reproduce this. OK, I see - config is an {} not a string.

[2015-04-30 21:30] #20 closed

[2015-04-30 21:33] ToddThomson commented on #19
Reference: https://github.com/ToddThomson/tsproject/issues/15#issuecomment-97960250

[2015-04-30 21:33] #19 closed

[2015-04-30 21:33] niemyjski commented on #19
Thanks!

[2015-04-30 21:34] #15 closed

[2015-05-01 14:42] niemyjski opened #21 "Bundle errors on duplicate import statement"
I'm not 100% sure if this is a typescript error but if you have duplicate import statements defined it breaks the bundle process:

[code]

Output
[code]

I don't think typescript cares because I have no typescript errors in my webstorm document, but that could be a bug with webstorm.

The fix is easy, just delete the extra import statement.

[2015-05-01 14:43] niemyjski commented on #21
This makes me wonder. When we bundle should we be keeping a list of all files that we have bundled so we don't import them twice?

[2015-05-01 14:46] niemyjski opened #22 "Trim whitespace when bundling."
This is a nitpick but I noticed this morning and I know you want me to log everything I see.

Thank you for all your hard work! I hope your work makes it into the 1.6 branch of typescript!

![image](https://cloud.githubusercontent.com/assets/1020579/7431696/d5a124de-efe6-11e4-9293-c025cb1c24ef.png)

[2015-05-01 15:51] ToddThomson commented on #22
Yes, this is a bit ugly. As source files are merged into a bundle the imports statements that are resolved as source file dependencies are whited out. This keeps the original source file node collection positions constant. If the import statements/symbols were removed/deleted the source file would need to reprocessed/parsed.

[2015-05-01 15:53] niemyjski commented on #22
Gotcha, I wonder if we could change them and update the gulp source map? But this wouldn't work outside of the gulp source maps plugin so prob should just leave this and leave it up to minification..

[2015-05-01 15:57] ToddThomson commented on #21
It looks like the compiler is complaining about the "Duplicate identifier". Perhaps webstorm needs to be updated to 1.5?
TsProject does keep a list of all imported dependencies.
I will add 'duplicate imports'  as a test.

[2015-05-01 15:58] niemyjski commented on #21
Yeah it has partial support for 1.5. I think we can close this issue :).

[2015-05-01 16:30] ToddThomson commented on #21
I've updated to Ts 1.5 beta on VS and TsProject. Both complain of the duplicate identifier.
It is interesting that TsProject ( if noEmitOnError is not set ) will remove the resolved imports and produce a bundle that compiles without errors.

[2015-05-01 17:17] ToddThomson commented on #17
Fixed in release 0.8.4.

[2015-05-01 17:17] #17 closed

[2015-05-01 18:28] niemyjski opened #23 "0.8.4 is missing the javascript module"
[code]

[2015-05-01 18:37] ToddThomson commented on #23
Sorry. I moved the TsProject to my company repository and garbled the build. Fixed with npm release 0.8.5.

[2015-05-01 18:37] #23 closed

[2015-05-05 16:29] niemyjski opened #24 "Issue with Ambient External Module Declarations"
In my latest commit I moved definitions to separate files and referenced them from my tsconfig file as I was getting cannot define Ambient External Module Declarations in the same file error. However, now I can't even build as it's not able to resolve file's that exist:

[code]

Do you have any ideas / feedback on how I can resolve this issue. The node one is an external dependency so I need to le

[2015-05-05 16:48] #24 closed

[2015-05-05 16:56] ToddThomson commented on #24
@niemyjski Did you resolve this issue?

[2015-05-05 16:57] niemyjski commented on #24
yup, was missing the definition in the files array :(

On 5/5/15, Todd Thomson <notifications@github.com> wrote:

--
Thanks
-Blake Niemyjski

[2015-05-06 16:28] ToddThomson commented on #2
Wiki has been started for TsProject

[2015-05-06 16:28] #2 closed

[2015-05-06 21:16] niemyjski opened #25 "Basic typescript bundles"
I have a new scenario. I have client specific packages (a single js file that auto execs and integrates with say angular). I wanted to use the bundles to quickly compile these and place them into a directory. Think of it that I'm using typescript as a linter as I don't want modules etc...

I had two problems using tsproject/typescript.

1. The first is that I don't want to include any dependencies

[2015-05-07 13:04] ToddThomson commented on #25
The error condition above resulted from a trace log message accessing a property on a variable which could be null. The trace message has been removed.
The code that processes the variable ( moduleNameExpr ) already has a check for null.

[2015-05-07 13:28] niemyjski commented on #25
Thanks!

[2015-05-07 13:58] ToddThomson commented on #25
Fixed in npm release 0.8.8

[2015-05-07 13:58] #25 closed

[2015-05-07 14:03] niemyjski commented on #25
Thanks!

On 5/7/15, Todd Thomson <notifications@github.com> wrote:

--
Thanks
-Blake Niemyjski

[2015-05-07 14:10] ToddThomson commented on #7
Wiki updated.

[2015-05-07 14:10] #7 closed

[2015-05-07 14:21] ToddThomson commented on #1
This issue/thread contains information that is outdated. Please refer to the TsProject Wiki.

[2015-05-07 14:21] #1 closed

[2015-05-13 16:27] niemyjski opened #26 "Bundling error with third party imports across multiple files."
Hey, I'm getting the following error when I try and run my project (uncommitted)

[code]

A simple test is to have two typescript files and do this at the top of each

[code]

with a definition of:

[code]

[2015-05-14 13:02] niemyjski opened #27 "Support for file globs"
I'd like to be able to put my bundle source as `*-spec.ts`. This would allow me to compile any and all unit tests.

[2015-05-14 13:10] niemyjski opened #28 "Bad error message when bundle has an extra comma."
[code]

produces the following error which makes you think that you specified the incorrect path to the file.

[code]

[2015-05-14 13:36] niemyjski opened #29 "Bundles fail when no files array is specified."
As per the official tsconfig documentation this should work:

<i>If no "files" property is present in a tsconfig.json, the compiler defaults to including all files in the containing directory and subdirectories. When a "files" property is specified, only those files are included.

A tsconfig.json file is permitted to be completely empty, which compiles all files in the containing directory and sub

[2015-05-14 14:02] ToddThomson commented on #26
@niemyjski Would you please provide your build configuration and test files so that I can reproduce this easily?

[2015-05-14 14:05] niemyjski commented on #26
My build is committed now. to reproduce, just go into two files and add:

``` import TraceKit = require('TraceKit'); ```

And then try to build. You may now get a cannot find external module error but you'll also get the duplicate identifier error.

[2015-05-14 14:31] ToddThomson commented on #28
The typescript 1.5 Beta does not currently return an error diagnostic from readConfigFile(). I have created an appropriate error message ( Syntax error in... ) if the Json object is not returned.

In the next Typescript 1.5 release, TsProject will return the error message that is returned from readConfigFile().

[2015-05-14 14:35] ToddThomson commented on #27
@niemyjski This is a good idea. I'm not sure if I can get to this in the short term. Would you like to provide a pull request for this feature?

[2015-05-14 14:37] niemyjski commented on #27
I have it working without it but will try when I get some time.

[2015-05-14 14:43] ToddThomson commented on #29
The "Files" within each Bundle must provide an array of files. It is not the same as the "Files" property that is standard in the TsConfig.json .

[2015-05-14 14:44] niemyjski commented on #29
Yes, but this happens when I remove the files property of the tsconfig not the bundles section.

[2015-05-14 14:53] ToddThomson commented on #29
The error you are reporting above is due to the "files" property in a bundle not being an array. If there are errors in the tsconfig file the compilation will halt with error(s). Please check your tsconfig.json file.
If you still have an error then please provide me with a build that shows the error.

[2015-05-14 15:04] niemyjski commented on #29
You can reproduce this error by taking any of my tsconfigs and removing the large files section at the top of the tsconfig file. Bundling will instantly fail. If you put the files section back.. It will succeed.

[2015-05-14 15:14] ToddThomson commented on #27
A pull request for this enhancement will need to use a node module like "glob-expand" ( minimal dependencies ).

[2015-05-14 15:25] ToddThomson commented on #29
OK. I pulled down your latest code and was able to reproduce this issue. It is an issue in the bundle parser.

[2015-05-14 15:32] ToddThomson commented on #29
Issue was caused by referencing the config file top level json object rather than the bundle json object.

[2015-05-14 15:34] niemyjski commented on #29
Awesome! Once things calm down I'll try to submit a few pull requests.

[2015-05-14 15:38] ToddThomson commented on #26
@niemyjski Please provide a quick update to your project with a build task for this. This will help with the time constraints that I currently have.

[2015-05-14 15:39] niemyjski commented on #26
I'll create a smaller sample for this hopefully later today. If you could do a release for #29 that would simplify my configs greatly :). Thanks again.

[2015-05-14 15:51] ToddThomson commented on #29
Fixed in npm release to 0.8.9.

[2015-05-14 15:51] #29 closed

[2015-05-14 15:51] ToddThomson commented on #28
Fixed in npm release 0.8.9

[2015-05-14 15:51] #28 closed

[2015-05-14 15:51] niemyjski commented on #29
Thank you!

[2015-05-14 17:02] ToddThomson commented on #27
This is a pretty easy enhancement, so I'll add it over the next few days.

[2015-05-14 17:52] niemyjski commented on #27
I think some globs even allow you to negate files but I'm not sure if this is outside of the scope of this..

[2015-05-14 17:59] ToddThomson commented on #27
I've added support for this feature. Please note that TsProject does not parse the top-level "files" property in tsconfig.json, so file globs do not apply there.
TsProject uses node glob, so bundle "files" now supports all glob patterns that node glob supports. I have also added support for excluding globs with the use of the "!" character.

[2015-05-14 18:02] niemyjski commented on #27
Thanks!

[2015-05-14 18:51] ToddThomson commented on #27
Implemented in npm release 0.8.10

[2015-05-14 18:51] #27 closed

[2015-06-05 15:53] ToddThomson commented on #26
@niemyjski I would like to clean up this issue before updating to release 1.0. Please provide me with a simple build that reproduces this.

[2015-06-08 14:43] niemyjski commented on #26
Yes, I'll work on a simple repo very soon (today or tomorrow).

[2015-06-08 15:10] ToddThomson commented on #26
Thanks Blake.

[2015-06-10 04:18] niemyjski commented on #26
I had to clean up some stuff but I'll be working on this tomorrow on my way to build :).

[2015-06-10 20:40] niemyjski commented on #26
I added a sample in a fork... I just placed a whole sample in a folder so you could see it/run it.

[2015-06-10 20:56] ToddThomson commented on #26
Thanks Blake. I'll take a look soon.

[2015-06-24 18:22] niemyjski commented on #26
@ToddThomson were you able to take a look?

[2015-06-29 19:05] ToddThomson commented on #26
@niemyjski I'm taking a look now...

[2015-06-29 21:04] ToddThomson commented on #26
@niemyjski I've been able to reproduce the issue and understand the problem. The solution is to white out all but the first import reference. I will think about how to best handle this.
Can you please tell me how you worked around this issue? This will likely help other TsProject users.

[2015-06-29 21:12] niemyjski commented on #26
I just came across this during testing.. I had copied a file. I didn't actually need it but thought it would be an issue..

[2015-07-02 16:34] danhalliday opened #30 "Relative reference paths don't seem to work"
I have a project with some type definitions in `tsd`'s `typings` folder in the root, and `.ts` files in a project subdirectory. TSProject gives me the following error:

    [TsProject] app.ts(1,1): error TS6053: File '../typings/tsd.d.ts' not found.

The project setup is as follows:

    - build
    - app
      |- bootstrap.ts
      |- tsconfig.json # just lists bootstrap.ts
    - typings # tsd in

[2015-07-02 17:04] ToddThomson commented on #30
@danhalliday . I'm out of the office until next Monday. I'll take a look then.

[2015-07-06 17:10] ToddThomson commented on #30
@danhalliday . Thank-you for your patience.

Would you please show me your gruntfile.js that starts tsproject.

Also, it saves me quite a bit of time if you can provide me with a subset of your project that reproduces the issue ( on GitHub ). I can usually fix issues quickly if I can reproduce the issue quickly!

[2015-07-08 15:17] ToddThomson commented on #30
@danhalliday Relative paths have been tested and should work properly. If you provide me with a simple build scenario, I will try to help you with this issue.

[2015-07-09 08:58] danhalliday commented on #30
Sorry for the delay — here's the simplest test case I could find: https://gist.github.com/danhalliday/1ef7400743bc27bc8ec8 (source:main.ts => source/main.ts).

I played around with having `tsconfig.json` inside the source folder, and putting different things in the `files` and `bundles:app:files` arrays, but no luck.

[2015-07-09 16:10] ToddThomson commented on #30
@danhalliday TsProject is a gulp vinyl adapter which produces a stream of vinyl files ( ts source bundles, etc ) which may be used downstream in the gulp pipeline. When I recreated your project structure and started TsProject with a gulp task ( from gulpfile.js ) all relative paths were resolved properly.

gulp.task( 'halliday', function() {
    return projectStream = tsproject.src( './src/hallida

[2015-07-10 17:51] ToddThomson commented on #30
@danhalliday Please note that /// references are not required if you specify your complete file set within the tsconfig.json project file.

[2015-07-22 22:50] ToddThomson commented on #30
@danhalliday I am working on the 1.0 release of TsProject this week. While debugging, I caught an error condition that may be causing your issue. I can not be 100% sure as it appears you are not using gulp to build your app.

[2015-07-22 23:15] ToddThomson commented on #30
@danhalliday Now that Typescript 1.5.3 is officially released, I've been testing the 1.0 release of TsProject. I am looking at your issue again - I may have caught an error condition that was the cause of your issue. I'll get back to you soon.

[2015-07-23 12:47] ToddThomson commented on #30
@danhalliday This is quite an interesting issue. There are a number of things going on.

1. Typescript triple slash reference paths. These are compiler helpers only. They produce no code. If you have a reference in your tsconfig.json files then you do not need to use a triple slash reference. Guidance: use tsconfig.json as your project file and include all needed references in your files list. If

[2015-07-23 12:50] #30 closed

[2015-07-23 13:41] ToddThomson opened #31 "Fail gracefully for project file path errors"
TsProject now generates proper error diagnostics for project file path errors.

[2015-07-24 15:51] ToddThomson opened #32 "Support Typescript 1.5.3"
TsProject will support the latest release of Typescript - 1.5.3. All the issues have been addressed and implementation is now complete.

I will upload the latest code, here on GitHub, for testing by anyone interested before updating the npm package.

[2015-07-26 10:37] eumes opened #33 "package.json references main file case insensitive"
I'm currently working on a machine that has case sensitive file system and the `main` file references in the `package.json` cannot be resolved. Pull request is coming in a sec.

Btw. any ETA for the 1.0 release on npmjs? Really looking forward to using it, makes the TS packaging hell a treat :)

[2015-07-26 17:44] ToddThomson commented on #33
@eumes Thank-you. I'll review on Monday morning ( PST Time zone ).

I'm hoping to release the 1.0 NPM package next week at some point. Still some testing to do.

Thanks again.

[2015-07-26 19:34] ToddThomson commented on #33
Thanks @eumes

[2015-07-26 19:34] #33 closed

[2015-07-26 20:49] eumes commented on #33
Happy to help :)
Cheers Simon

[2015-07-29 22:57] nicky-lenaers opened #35 "parseConfigFile error"
I cloned the repo, did ``npm install`` and ``bower install`` and then ran ``gulp``. I get this error:
![typescriptsample](https://cloud.githubusercontent.com/assets/2785350/8971970/edb97d9a-3655-11e5-8713-128a8f465819.jpg)

[2015-07-30 15:15] ToddThomson commented on #35
@nicky-lenaers I have not updated the sample in quite a while. I apologize for this. I will update the sample today.

[2015-07-30 15:33] ToddThomson commented on #35
@nicky-lenaers The version of TsProject and Typescript installed via NPM are no longer in sync. The sample should not depend on Typescript 1.5.3 ( yet ).
I think what I'll do is update the TsProject NPM package to release 1.0.0-beta. I'll also update the sample to depend on the 1.0.0-beta.
Thank-you for your input!

[2015-07-30 16:17] ToddThomson opened #36 "Announcement: TsProject 1.0.0 NPM Package"
Since there were a fair number of changes to TsProject since version 0.8.10, I am releasing an RC NPM package. I will go to 1.0.0 in a week or so if there are no issues reported.

[2015-07-30 18:04] ToddThomson commented on #35
The sample website has been updated to utilize TsProject 1.0.0-rc.1

Thank-you for your input. I hope TsProject simplifies your builds.

[2015-07-30 18:04] #35 closed

[2015-07-30 18:05] ToddThomson commented on #32
TsProject 1.0.0-rc.1 NPM released.

[2015-07-30 18:06] ToddThomson commented on #31
TsProject 1.0.0-rc.1 NPM package released.

[2015-07-30 18:06] #31 closed

[2015-07-30 18:07] ToddThomson commented on #26
TsProject release 1.0.0-rc.1 NPM package released.

[2015-07-30 18:07] #26 closed

[2015-07-30 18:08] ToddThomson commented on #36
TsProject 1.0.0-rc.1 NPM package released. TsProject now supports Typescript 1.5.3.

[2015-07-30 20:47] ToddThomson opened #37 "Duplicate import statements contained in bundle for TsProject 1.0.0-rc.1"
TsProject 1.0.0-rc.1 allows a 2nd import statement of a required module to be included within a bundle. This results in bundle compilation errors ( TS2300 Duplicate Identifier ).

[2015-07-30 22:06] ToddThomson commented on #37
This issue has been fixed in TsProject NPM release 1.0.0-rc.2

[2015-07-30 22:06] #37 closed

[2015-07-30 22:07] ToddThomson commented on #36
RC.2 release to fix issue #37

[2015-07-30 22:11] niemyjski commented on #37
Thanks!

[2015-07-30 22:18] ToddThomson commented on #37
@niemyjski Please ensure your project tests run OK.

[2015-07-30 22:21] ToddThomson commented on #32
TsProject NPM releases starting with 1.0.0-rc.1 now support Typescript 1.5.3.

[2015-07-30 22:21] #32 closed

[2015-07-30 22:24] niemyjski commented on #37
They seem to be okay. The output diff for the dist folder changed a
little bit but nothing stands out that would of broke anything.. I'll
test my dist folder when I get some time.

On 7/30/15, Todd Thomson <notifications@github.com> wrote:

--
Thanks
-Blake Niemyjski

[2015-07-31 07:21] nicky-lenaers commented on #35
Will give it a go this weekend! Thanks for the fast reply :+1:

[2015-07-31 21:47] ToddThomson opened #38 "Bundle Compiler does not catch not found files if the filename does not contain glob pattern"
The bundle compiler passes all bundle file names through a glob processor for expansion into found files. If a bundle file name does not contain a glob pattern then it will return a null set if the glob processor does not find any matching files.
The bundle compiler should return an error for bundle files that are not found.

[2015-07-31 21:50] ToddThomson opened #39 "Bundle Compiler does not list source files"
The bundle compiler should list source files if compilerOptions.listFiles = true.

listFiles may be specified in the tsconfig.json project file.

[2015-07-31 21:52] ToddThomson commented on #38
For bundle files that contain a glob pattern, TsProject will issue a warning that the expanded file set contained no found files.

[2015-08-09 21:57] nicky-lenaers opened #40 "Option for including external libraries into a bundle"
I would like to see the option to include external js libraries in bundles. Like you suggested, adding an option to the TypeScript project file (tsconfig.json) for including external javascript libraries. This would directly insert the external library *.js code into the bundle.

Thanks!

[2015-08-10 16:09] ToddThomson commented on #40
@nicky-lenaers The main idea behind typescript bundles is to get around the "limitation" of having a single script file for each external typescript module ( a limitation given that we do not yet live in an ES6 world ). Adding a 3rd party library to the typescript bundle is sort of outside the scope of what TsProject provides.

What you are really looking for is a build optimization step to combin

[2015-08-10 17:35] nicky-lenaers commented on #40
Thanks a lot. I am familiar with the Gulp way of concatenating and so on, and you're right that each gulp plugin should be designed to do 'one thing only'. It just seems like a hugh effort/time saver if this can (optionally) be included in a single plugin.

[2015-08-10 18:05] ToddThomson commented on #40
Please let me know if you are able to modify the TsProject "Sample" to meet your needs ( it should be quite easy to add angular.js to the dependent list in require.config.js.
If you make the change, I would like to update the repository to have a minimal angular app using Typescript and TsProject - all within a single optimized script file.

[2015-08-11 19:29] nicky-lenaers commented on #40
I will try this one soon (in a month's time), I have some other work to be done. Please let this issue open, so I don't forget.

[2015-09-09 11:31] s-albert opened #41 "require.config.js is missing in the sample"
require.config.js seems to be missing in the sample:
<script src="app/require.config.js"></script>

[2015-09-09 16:22] ToddThomson commented on #41
Thanks @s-albert . I will correct this today.

[2015-09-11 17:23] ToddThomson commented on #41
Thanks @s-albert . Let me know if there is anything else I can help you with.

[2015-09-11 17:23] #41 closed

[2015-09-29 23:52] ToddThomson commented on #39
Fixed in NPM release 1.0.0-rc3.

[2015-09-29 23:52] #39 closed

[2015-09-29 23:53] ToddThomson commented on #38
Fixed in NPM release 1.0.0-rc3

[2015-09-29 23:53] #38 closed

[2015-09-29 23:55] ToddThomson commented on #36
RC.3 fixes issues #38 , #39.
Typescript 1.6.x branch is now supported.
Optional settings to override compilerOptions in typescript configuration file.

[2015-09-30 16:28] ToddThomson commented on #36
NPM release 1.0.0-rc.3 is now published. If there are no additional issues in the next few days I will update to release 1.0.0.

[2015-09-30 16:32] ToddThomson commented on #40
@nicky-lenaers I hope all is going well.
I would like to update the sample to include your requirements before going to v 1.0.0. Have you had a chance to look into this issue.

[2015-09-30 16:38] ToddThomson commented on #40
@nicky-lenaers Are you interested in Angular 2 or Angular 1?

[2015-10-01 15:52] ToddThomson commented on #40
@nicky-lenaers I am adding another sample to the project. I've ported the todoMVC applet to use TsProject, Typescript, Angular 1 and Require. Should have it committed today at some point.

[2015-10-01 16:46] nicky-lenaers commented on #40
Hi Todd, unfortunately I haven't been able to spend much time on other projects. I solved my current problem using Systemjs Builder, which fits my needs.

Thanks for taking the time to handle this issue. I'm happy to test your 1.0.0 release.

Hopefully I'll be able to improve on any parts if desired!

[2015-10-01 17:06] ToddThomson commented on #40
@nicky-lenaers No worries. I'll give you a shout when I'm done with the sample.

[2015-10-01 19:09] ToddThomson commented on #40
@nicky-lenaers I've just committed the TodoMVC sample app build using TsProject, Angular ( using Typescript ES6 imports ) and Require.
Hopefully you will find the build using today's tools running today's browsers with modern ES6 modular Typescript interesting!
I'm going to update the readme for build and running instructions later today.

[2015-10-01 20:42] ToddThomson commented on #40
@nicky-lenaers I'm closing this issue as the TsProjectTodoMVC sample is completed. Thank-you for suggesting this.

[2015-10-01 20:42] #40 closed

[2015-10-01 21:20] nicky-lenaers commented on #40
Thanks you for adding the sample, happy coding!

[2015-10-01 21:31] ToddThomson commented on #36
TsProject updated to 1.0.0

[2015-10-01 21:31] #36 closed

[2015-10-01 21:36] ToddThomson commented on #22
@niemyjski Not much I can do about this. Whitespace can also be filtered out in any optimization phase of the build.

[2015-10-01 21:36] #22 closed

[2015-10-01 21:59] ToddThomson commented on #40
@nicky-lenaers You're welcome. Let me know what you think.

[2015-10-06 23:53] ToddThomson opened #44 "Bundles which include tsx (reactjs) dependent source files compile with errors"
Currently investigating solution.

[2015-10-07 00:01] ToddThomson commented on #44
Bundle file should have an extension of .tsx if any of the dependent imports have a .tsx extension.

[2015-10-08 16:23] ToddThomson commented on #44
This issue has been addressed in NPM release 1.0.1

[2015-10-08 16:23] #44 closed

[2015-10-13 08:53] frankebersoll opened #45 "Local bindings for modules can't have names that differ from local bindings used in typings"
## Description

This compilation error happened to me when I tried to use `import * as child_module from 'child_module'`in Node.js, using the current `node.d.ts` typings:

[code]

I looked into the type definitions, and `child_process` was absolutely there. It happens that [another module in the type definitions file](https://github.com/borisyankov/DefinitelyTyped/blob/3fc1377ce29dd9670975cb68615e

[2015-10-13 15:13] ToddThomson commented on #45
@frankebersoll Thank-you for reporting this. I will investigate this later today.

For bundling ES6 import modules I tend to use:

    import {module_name} from "module_path";

[2015-10-13 19:00] ToddThomson commented on #45
@frankebersoll I've been able to reproduce this issue. I will need to investigate further to determine a solution. It may take a day or so as I have a number of company tasks to complete first.

[2015-10-14 09:55] niemyjski commented on #45
Nice find!

[2015-10-14 19:17] ToddThomson commented on #45
I'm looking at the issue now...

TsProject needs to handle named bindings in imports e.g.:
    import * as NS from "mod";
    import {a, b as B} from "mod";

[2015-10-15 00:35] ToddThomson commented on #45
@frankebersoll I've looked at this issue and have an experimental fix in place. However, it will only work for simple single file bundles like the scenario you set up for reproducing the issue. I need to think through how the named bindings in imports will work when bundling multiple input source files. I believe I will have to create a map on the module names so that I can avoid duplicate named b

[2015-10-15 01:14] ToddThomson commented on #45
@frankebersoll When bundling multiple typescript source files, I will remove duplicate imports ( only include once ) for named imports on the same module. However, duplicate named imports on different modules will not be removed and will thus cause a bundle compilation error.
Don't hesitate to provide any of your thoughts.
I should be able to find an hour or 2 to implement the full solution tomorr

[2015-10-15 19:06] ToddThomson commented on #45
@frankebersoll Thank-you for reporting this issue. TsProject, 1.0.2 now correctly handles ALL ES6 import declarations.

[2015-10-16 15:53] ToddThomson commented on #45
The 1.0.2 commit will incorrectly emit import declarations into the bundled module when there is duplicate names within a specific named import module.

[2015-10-16 16:32] ToddThomson commented on #45
TsProject now correctly emits the correct syntax for import declarations within module ES6 bundles.

[2015-10-16 16:32] #45 closed

[2015-10-20 15:09] niemyjski opened #46 "[Breaking] missing import statements since upgrading to 1.0.3"
We were running 1.0.1 and everything was working great and then I upgraded to 1.0.2 and 1.0.3 and our build started failing:

Steps to reproduce:
1. clone https://github.com/exceptionless/Exceptionless.JavaScript
2. npm install
3. gulp exceptionless.node

[code]

It appears that none of the import statements are being brought in.

[2015-10-20 15:23] ToddThomson commented on #46
@niemyjski I will take a look at this immediately.

[2015-10-20 15:40] ToddThomson commented on #46
@niemyjski I followed your steps to reproduce the issue and did not get the same results that you are showing above. Please check.

[2015-10-20 15:48] ToddThomson commented on #46
@niemyjski Here is the output I obtained:

[08:33:26] Using gulpfile C:\src\achilles\github\toddthomson\exceptionless.javascript\gulpfile.js
[08:33:26] Starting 'typescript.node'...
[TsProject] Building Project with: src/tsconfig.node.json
[TsProject] TypeScript compiler version:  1.6.2
[TsProject] Compiling Project Files...
[TsProject] src/exceptionless.ts(66,47): error TS2503: Cannot find namesp

[2015-10-20 15:57] ToddThomson commented on #46
@niemyjski OK. I see that the project.json referenced 1.0.1 in your GitHub project. When updating to TsProject 1.0.3 I see your output more or less ( TraceKit is still missing ).

[2015-10-20 16:24] ToddThomson commented on #46
@niemyjski The changeset for issue #45 causes import declarations which do not have an importClause to be ignored and not added to the bundle output. Ouch! Sorry that is a pretty bad slip on my part. I will add these types of import declarations to my tests.
I'll update the NPM release within the hour.

[2015-10-20 18:11] ToddThomson commented on #46
@niemyjski I have also found an issue with duplicate identifiers for the following situations:

import * as http from 'http';
import http = require('http');

I will need to resolve this too.

[2015-10-20 18:23] niemyjski commented on #46
Thanks! I'm fine on 1.0.1 for the time being. I just wanted to report the issue.

[2015-10-20 18:59] ToddThomson commented on #46
@niemyjski OK. The duplicate identifiers is caused by the difference between:

import * as http from "http";
and
import http = require('http');

The difference being the module name strings are 'http' vs "http".

[2015-10-20 20:37] niemyjski commented on #46
wow, that's crazy lol

[2015-10-20 21:55] ToddThomson commented on #46
@niemyjski Thank-you for reporting this issue. I have tested release 1.0.4 against your project and everything works fine now.

[2015-10-20 21:55] #46 closed

[2015-10-20 22:29] niemyjski commented on #46
Thanks!

[2015-10-20 22:50] ToddThomson commented on #45
@niemyjski @frankebersoll Solutions for this issue and issue #46 have made TsProject much more complete - so thank you!

[2015-10-27 20:16] ToddThomson opened #47 "Allow Bundles to provide compile options"
I've been using TsProject to bundle modules for bower and I would like to have the bundle compiler generate a d.ts file for the module, but there is no need to generate a d.ts file for the source files.

[2015-10-28 20:30] ToddThomson opened #48 "Add Source File Globs to tsconfig.json"
Currently TsProject uses the ts.parseConfigFile() to obtain the set of source files for the project build context. The Typescript parser does not support file globs. It does not seem likely that the Typescript team will add this feature.
TsProject could add this feature easily enough as it already has support for file globs in "Files" with the "Bundle" section of tsconfig.json.

[2015-10-28 22:36] ToddThomson commented on #48
What is the best way to support this feature? If the Typescript team added this support then they would definitely use "Files" and allow for glob patterns. This is also the cleanest approach. However, by adding glob patterns to "Files" projects would not be able to be moved to a non-TsProject build environment.
It would not be too difficult to generate a tsconfig.json that had a listing of all fil

[2015-10-28 23:22] ToddThomson commented on #48
The Typescript parseConfigFile() just reads in the array of files. It will accept any string for a filename. This means that the TsProject bundle parser glob processing code could easily be applied to the returned file array.
To allow "Files" to include glob patterns is a pretty big gain. The only con is that the tsconfig.json file would not be compatible with other typescript transpilers that do

[2015-10-29 13:32] ToddThomson commented on #48
Typescript tsconfig.json "Files" will allow for file glob patterns processing. An option will be provided to convert file glob patterns to a file list.

[2015-10-29 19:54] ToddThomson opened #50 "NOTICE: When bundling always wrap a collection of exported functions in an external module declaration"
Since TsProject bundles ES6 external modules into a single javascript library, you cannot have a "loose" collection of functions( classes, variables, etc ) within a source file. Wrap the functions in an external module definition. For example:

instead of:

export foo() {}
export bar() {}

use:

export module foobar {
   export foo() {}
   export bar() {}
}

This should be added to the wiki docume

[2015-10-30 12:17] richtea opened #51 "Bundle TsProject into single file for packaging"
As mentioned in #49, it would be good to bundle TsProject into a single file during the build process so that we can package it better.

Specifically, [this comment](https://github.com/ToddThomson/tsproject/pull/49#discussion_r43453611) needs to be considered as there is a problem with the rename stage of the build pipeline that clashes with the `outDir` option. A fix needs to be designed.

[2015-10-30 15:16] ToddThomson commented on #51
The current build (master branch) produces a single file bundle of Tsproject ( using TsProject :smile: )

Unfortunately we have some naming issues that need to be taken care of. The output directory of the transpile is currently 'dist'. This "distribution" contains all the individual output js files from the source ts files and the bundled output which is in dist/src/bundles/tsproject2.js ( the 2

[2015-10-30 22:14] ToddThomson commented on #48
TsProject now supports file glob pattern matching on the tsconfig.json "files" property. As this is an enhancement to the Typescript spec, we offer a setting to write the expanded file set back to the tsconfig.json project file. The setting is "convertFiles". Setting this to true will convert all file globs to an expanded list and write the list back to the project file.

[2015-10-30 22:37] ToddThomson commented on #51
@richtea Please take a look at the latest commits. I am happy just moving the src/bundle/tsproject.js to the root when a new release is made. If you want you can put this step into the build tasks. I'll leave the issue open until I hear from you.

[2015-10-30 22:39] ToddThomson commented on #48
This feature has been added and will be made available in the NPM release 1.0.5 of TsProject. The wiki needs to be updated so I'm leaving this open until that gets done.

[2015-10-30 22:57] ToddThomson commented on #48
Wiki updated.

[2015-10-30 22:57] #48 closed

[2015-11-01 18:22] ToddThomson opened #52 "Add support for tsconfig.json watch compilerOption ( Caching Compilation )"
Incremental compilation would be a nice enhancement.

[2015-11-02 01:23] ToddThomson commented on #52
This feature will be made available soon after Typescript 1.7.x is released

[2015-11-02 05:54] sjison commented on #15
@niemyjski have you tried this in Angular2?

[2015-11-02 10:19] richtea opened #53 "Reduce effect of TSD on build performance"
Copied from [issue 49](https://github.com/ToddThomson/tsproject/pull/49#issuecomment-152854002):

My suggestion would be to refactor [build.js](https://github.com/ToddThomson/tsproject/blob/master/build/tasks/build.js) to remove the dependency from the `compile` task on the `tsd` task. We could then add it into the sequence of tasks run by the `build` task, but it would not get run by the new `wat

[2015-11-02 10:29] richtea opened #54 "Ensure bundle definitions file can be output when there are compilation errors"
Currently, a bundle's definition file is only emitted if the compilation was successful (see [BundleCompiler.js](https://github.com/ToddThomson/tsproject/blob/ae1aebc9d0416d6231447c2b15649f42c1e0f126/src/BundleCompiler.ts#L161-163)). This is inconsistent with the behaviour for the bundle's `.js` file, which can be emitted even if errors occur, depending on the project's noEmitOnError setting.

I p

[2015-11-02 10:35] richtea commented on #51
The "standard" behaviour I have seen in other gulp/npm projects is to package from the `dist/` folder. On the [Principle of Least Astonishment](https://en.wikipedia.org/wiki/Principle_of_least_astonishment) perhaps we should so the same? We could easily output the compilation/bundle results to a `temp/` folder and then add a new build task to copy the distributable files into the `dist` folder?

[2015-11-02 11:33] richtea commented on #51
I should have added that it also seems common to commit the contents of the `dist/` folder into source control. I'm not sure I agree with this "standard," as I have always tried to avoid holding build outputs in source control; but perhaps the POLA should apply here too? What are your thoughts?

[2015-11-02 15:16] ToddThomson commented on #15
@sjison Could you please open an issue for your question above. This issue goes back to a problem with a very early version of TsProject and has been fixed and closed. You would be better served by opening a new issue. Thanks!

[2015-11-02 15:29] #53 closed

[2015-11-02 16:45] ToddThomson commented on #51
@richtea I understand where you are coming from. Here are my thoughts:
Currently the output from our build tasks are put into the 'dist' folder. Since we now only need the bundled TsProject.js file I feel that the 'dist' folder name may be confusing to someone looking at the repository ( almost every file there is now not needed in the npm package ). Perhaps what we need is a bin or output directo

[2015-11-02 16:50] ToddThomson commented on #54
@richtea You are right. Please see my comments on your PR.

[2015-11-02 17:20] richtea commented on #51
I agree @ToddThomson. At one level, even the intermediate .js and .d.ts files (pre-bundling) are temporary files if you are creating a bundle, only of interest for debugging purposes.

In my own project I have enhanced the .pipe(rename()) logic so that, instead of flattening the folder structure, it places the bundles in the `dist/` folder and the intermediate files in a `dist/temp/` folder. My pr

[2015-11-02 17:28] ToddThomson commented on #51
dist/temp for build outputs ( filtered out by .gitignore and .npmignore ) and dist/tsproject.js as the final destination for the bundled output works for me.

[2015-11-03 14:34] ToddThomson commented on #52
TsProject will use the tsconfig.json watch property to enable file system watching of the project config file, project source files and the project root directory. The watch property is best set through the TsProject.src() API by overriding the project's compilerOptions.
This feature is dependent on Typescript 1.7 and will be available in TsProject release 1.1

[2015-11-03 16:36] ToddThomson opened #57 "Bundle Compiler May Report Missing External Modules as Not Found"
The bundle compiler host did not properly implement FileExists() which could cause Typescript external module resolution logic to fail ( error TS2307: cannot find module 'xxx' ). This was only apparent when referencing node packages with "typings".
To work around this issue until the 1.1 release, explicitly add node module definition files to the bundle file list ( only if the node module has pack

[2015-11-05 16:24] ToddThomson opened #58 "Provide setting to just output bundles (Optimization)"
TsProject when used to produce bundles does not normally need the individual module js  ( and .map d.ts ) files. A setting to not emit these bundle intermediates would be a nice build optimization.

[2015-11-06 22:30] ToddThomson opened #59 "Do not build bundles if project compile contains errors"

[2015-11-06 22:35] ToddThomson commented on #59
If the project files do not compile successfully then it really doesn't make sense to go through the bundle build stage.

[2015-11-06 22:37] ToddThomson commented on #59
This change will be provided in TsProject release 1.1.

[2015-11-06 22:41] ToddThomson commented on #54
This issue is addressed in the changes for issue #59.

With the 1.1 release of TsProject, bundles will not be processed unless the project files compile successfully.

[2015-11-06 22:41] #54 closed

[2015-11-07 00:03] ToddThomson opened #60 "Add statistics reports to monitor project build times"
With TsProject 1.1, the internal project build routines will add statistics reports for monitoring. The statistics reports will be output if the compilerOptions diagnostics is set to true.

[2015-11-09 20:20] ToddThomson commented on #52
There are huge performance gains to be had if the AST can be kept in tact between project compilations made in watch mode. TsProject will utilize compiler host caching and program structure reuse whenever possible to realize these gains.
Please note that TsProject 1.1 will not provide incremental parsing. This feature may be provide with release 1.2 if it is found to be necessary.

[2015-11-10 23:10] ToddThomson opened #61 "Output bundle .js.map if sourceMap compiler options is true"
This will be available in TsProject 1.1 when released ( waiting for Typescript 1.7.x to be officially released ).

[2015-11-13 00:27] ToddThomson opened #62 "Typescript 1.8 Module Concatenation Support"
With the upcoming release of Typescript 1.8 ( most likely early Jan 2016 ), concatenation of modules will be supported. I've looked at the feature and it may make TsProject's bundling capabilities no longer needed.
I'll update this issue as I see if Typescript 1.8 meets my needs for module bundling.

[2015-12-01 19:09] ToddThomson opened #63 "Announcement: TsProject 1.1.0 Release"
I will try to get a day or so this week to complete the 1.1.0 release. The release will include:

Typescript 1.7.3 support
Watch/Incremental build support
Compilation Optimizations
Additional build statistics

[2015-12-03 00:50] ToddThomson commented on #63
I've published an 'incremental-build' branch for anyone who would like to try out latest source. I will try to publish an NPM 1.1.0-rc1 towards the end of the week if time permits.

[2015-12-03 17:51] ToddThomson commented on #58
The Typescript compilerOption 'noEmit' is now used to control the emitted output from the compilation of project files.

[2015-12-03 17:52] ToddThomson commented on #58
Note: This does not effect the bundle emitted output. Bundle files are always output.

[2015-12-03 18:36] ToddThomson commented on #60
Compilation statistics, bundling statistics  and overall build stats have now been added.

[2015-12-03 18:38] ToddThomson commented on #60
The Typescript compilerOption 'diagnostics' controls the output of build statistics.

[2015-12-03 18:51] ToddThomson commented on #61
Bundle source map output is controlled by the Typescript compilerOption 'sourceMap'. Note that bundle config may override the project setting to control bundle output.

[2015-12-03 18:55] ToddThomson commented on #47
TsProject 1.1.0 now allows for the declaration and sourceMap properties in the bundle configuration to override the project compiler options.

[2015-12-03 18:57] ToddThomson commented on #63
All the issues for release 1.1 have been fixed/completed. I will publish an NPM release 1.1.0-rc1 ASAP.

[2015-12-03 20:37] ToddThomson commented on #61
Available in NPM release 1.1.0-rc.1

[2015-12-03 20:37] #61 closed

[2015-12-03 20:38] ToddThomson commented on #60
Available in NPM release 1.1.0-rc.1.

[2015-12-03 20:38] #60 closed

[2015-12-03 20:38] ToddThomson commented on #59
Available in NPM release 1.1.0-rc.1.

[2015-12-03 20:38] #59 closed

[2015-12-03 20:38] ToddThomson commented on #58
Available in NPM release 1.1.0-rc.1.

[2015-12-03 20:38] #58 closed

[2015-12-03 20:39] ToddThomson commented on #51
Available in NPM release 1.1.0-rc.1.

[2015-12-03 20:39] #51 closed

[2015-12-03 20:39] ToddThomson commented on #47
Available in NPM release 1.1.0-rc.1.

[2015-12-03 20:39] #47 closed

[2015-12-03 20:39] ToddThomson commented on #52
Available in NPM release 1.1.0-rc.1.

[2015-12-03 20:39] #52 closed

[2015-12-03 20:39] ToddThomson commented on #57
Available in NPM release 1.1.0-rc.1.

[2015-12-03 20:39] #57 closed

[2015-12-03 20:40] ToddThomson commented on #63
NPM release 1.1.0-rc.1 published.

[2015-12-03 21:02] ToddThomson commented on #63
Typo found in compiler.ts source - updated NPM release 1.1.0-rc.2.

[2015-12-14 16:17] ToddThomson opened #65 "Bundle Minification"
I will be adding experimental support for bundle minification in release 1.2.0.

The goal for the minification feature in TsProject is to take advantage of the Typescript AST to efficiently shorten identifiers and eliminate whitespace so that the resulting transform is 100% safe.

[2015-12-21 11:08] heruan opened #66 "Generate "declare module" definition file"
Is `tsproject` able to bundle TS definitions in a single `.d.ts` file in the following form?
[code]
It would be useful to bundle plugins and provide a single module-definition file.

[2015-12-21 19:06] ToddThomson commented on #66
TsProject produces a single definition file for bundles. Definition files are built using the Typescript compiler API from the generated bundle source code, so are really dependent on the bundle source files.
I tend to construct bundles using sets of ES6 classes and so the definition files look like:
[code]
Please let me know if this answers your question or not.

[2016-01-04 18:36] ToddThomson commented on #65
I have added the minification branch.

This branch uses TsProject with minification to build TsProject.

Please note that this is preliminary, experimental code that is not yet complete. The structure and rough implementation for identifier shortening and whitespace removal is there, but is not production ready.

I have created this branch so that others may comment and hopefully be involved.

Ple

[2016-01-04 18:44] ToddThomson commented on #65
Reference to the Typescript minification issue for those interested.
https://github.com/Microsoft/TypeScript/issues/8

[2016-01-04 18:54] ToddThomson commented on #65
TODO for bundle minification...
*Identifier Shortening
1. Add var and var lists for identifier shortening
2. Add function/method args for shortening
3. Add private identifiers for shortening
*Whitespace Removal
Add additional catches for removal of all whitespace.

[2016-01-06 18:14] ToddThomson commented on #65
Here is an example of minification:
Source:
[code]

[code]

[2016-01-06 19:35] ToddThomson commented on #65
Minification branch updated. TsProject.min.js is build with TsProject ( whitespace elimination not enabled for readability / testing ).

[2016-01-08 20:39] ToddThomson opened #68 "Minifier: Identifier collision with extended class"
1.2.0-rc2 bug with:
[code]

class properties referenced with this collide.

[2016-01-08 20:41] ToddThomson commented on #68
Workaround: set noEmit to true. This causes only the bundle to be emitted.

[2016-01-11 14:37] ToddThomson commented on #68
Class inheritance has been added to release 1.2.0-rc.3.

[2016-01-11 14:45] ToddThomson commented on #66
No response from @heruan so I am closing this issue.

[2016-01-11 14:45] ToddThomson commented on #63
Coming up to release 1.2, so I am closing this announcement

[2016-01-11 14:45] #63 closed

[2016-01-11 14:46] #68 closed

[2016-01-11 14:48] ToddThomson commented on #65
Minification feature updated with release 1.2.0-rc.3 ( fixes class inheritance issue #68 )

[2016-01-13 15:25] ToddThomson commented on #65
Minification feature updated with release 1.2.0-rc.4 ( full whitespace removal )

[2016-01-13 16:06] ToddThomson commented on #65
The first phase of the minification feature in TsProject is now close to being complete. The next phase will add additional identifier shortening by looking at the exports of the whole bundle ( a module/component ) and reduce space by shortening class names and public class methods.

[2016-01-14 21:28] ianbytchek opened #69 "Cannot read file 'tsconfig.json': readFile is not a function"
Everything works well with `tsc` command, but when trying to build with tsproject getting this weird issue. Any ideas what this is about?

[code]

[2016-01-14 22:01] ToddThomson commented on #69
@ianbytchek With Typescript 1.7.x this error message occurs when attempting to read the config file, tsconfig.json, ( in readConfigFile() Typescript API method ). The error message "readFile is not a function" indicates that the readFile() function passed to the API method is somehow not right.
It is most likely that you have installed an TsProject 1.2.0-rcX version. I haven't run into any issues

[2016-01-15 08:50] ianbytchek commented on #69
Hey Todd, thanks for heads up. Yes, I had 1.0.5 installed using `"tsproject": "*"`, that's probably because there are no higher versions, only rcs.

[2016-01-15 08:50] #69 closed

[2016-01-15 09:20] ianbytchek commented on #21
@ToddThomson I just got the same error, but my imports are in completely different files. I assume it happens because they all get merged into one single bundle. Like with @niemyjski, it compiles fine with tsc, but fails with tsproject.

You mentioned using `noEmitOnError` option – that didn't help in my case. I tried to use `import {Foo as FooBar} from 'Foo'`, but that gave me a different error `

[2016-01-15 14:29] ToddThomson commented on #21
@ianbytchek Since TsProject produces a single module bundle, you cannot have collisions with identifier names. I am going to reopen this issue as I believe I can  provide a solution to handle this ( I can take a look at the 2 ES6 import identifiers that collide and determine if both point to the same fully resolved filename ). I will need you to produce a simple scenario where tsc compiles properl

[2016-01-15 14:43] ToddThomson commented on #69
Just in case someone views this issue: TsProject 1.05 is not compatible with Typescript 1.7.x. There was a breaking change in the readConfigFile() API method.

[2016-01-15 16:00] ToddThomson commented on #21
@ianbytchek Are you saying you have 2 separate source files and each have an export with the same name, but a different implementation?

[2016-01-15 17:56] ToddThomson commented on #21
@ianbytchek I am investigating import aliases. I believe they should be supported. I will open a separate issue for having TsProject support import aliases.

[2016-01-15 18:00] ToddThomson opened #70 "Import alias results in name not found compilation error"
TsProject does not currently support import aliases. The simple scenario is:
[code]

[2016-01-15 18:43] ToddThomson commented on #66
@heruan I am reopening this issue. I now understand what you are asking for. I will try to get this into the 1.2.x NPM release.

[2016-01-16 17:34] ToddThomson opened #71 "Typescript to Javascript Packages"
The main idea/convention of TsProject ( however poorly documented ) is that Typescript code be organized around only classes that are in separate files. Essentially each class is an external module ( ES6 ). TsProject then takes a set of project files ( defined in a tsconfig.json project ) and creates any number of bundles from this set of project files based on the dependencies of the input files

[2016-01-16 17:38] ToddThomson commented on #21
@ianbytchek Please see issue #71. Although I am waiting to hear from you on your exact needs, I believe we can again close this issue and refer to issue #70 moving forward.

[2016-01-16 17:38] #21 closed

[2016-01-16 17:47] ToddThomson commented on #66
See issue #71

[2016-01-17 06:28] ianbytchek commented on #21
I'm using `webpack/webpack.d.ts` from DefinitelyTyped, which contains `Webpack` interface, and I have a file `Configuration/Foo.ts`, which exports several interfaces for specific configuration, one of them is also called `Webpack`. So, yes, completely different sources, but contain interface with the same name. DefinitelyTyped file is references with `/// <reference …`, the configuration file is i

[2016-01-17 18:11] ToddThomson commented on #21
@ianbytchek Do you have time to put together a simple gist or repo that reproduces the error. I'm really busy at the moment and it would help me out. Cheers.

[2016-01-18 12:13] heruan commented on #66
Thank you @ToddThomson! I was busy and couldn't give feedback, but that's what I meant :+1:
I'll gladly test when the feature will be available on `master`.

[2016-01-18 16:30] ToddThomson commented on #21
@ianbytchek I can't reproduce your issue as I've interpreted it from your explanation above. Please give me the code fragments of the files that reference the webpack identifier.

I will be updating TsProject today with a change that streams the bundle source ts file if noEmitOnError is not set to true. If you send me this file I will most likely get a better idea of what you are doing. However, t

[2016-01-18 19:30] ToddThomson commented on #71
TsProject should allow bundles ( a single file ES6 module library/component/application ) to restrict which exports are public ( and those which can be treated as internal ). This would allow a cleaner bundle definition file for the bundle and allow internal identifiers to be minimized.

[2016-01-18 19:53] ToddThomson commented on #66
My requirements for TsProject bundles are this:
1) Nodejs single file application/module which exports a minimal API. Usually this is just a single API method.
2) Browser client-side single file component/application module
3) Nodejs or Browser single file library module.

For all 3 of these uses I want to have a clean bundle definition file with only the exports that define the public API. I also

[2016-01-19 14:05] ToddThomson commented on #71
Add bundle configuration option "package":
[code]
None: no additional bundle processing.
Library: Injects namespace with the bundle name around all exported types.
Component: Only those exports within a namespace with the bundle name are exported. All other exports are treated as internal.

[2016-01-19 15:11] ToddThomson commented on #66
If the bundle package is set to "library", TsProject will now wrap the the non-external module references in:
[code]
this will result in a d.ts file like
[code]

[2016-01-19 17:52] ToddThomson commented on #62
Typescript concatenation is not the same as TsProject bundling/packaging.

[2016-01-19 17:52] #62 closed

[2016-01-19 18:09] ToddThomson commented on #66
If the bundle package is set to "component", TsProject will only export the API in the namespace that matches the bundleNamespace configuration option. For TsProject itself ( a node application/component ), bundleNamespace is set to "TsProject" and package is set to "component". This results in:
[code]

[2016-01-19 18:13] ToddThomson commented on #65
With the addition of bundle configuration options "package" and "packageNamespace", TsProject will now shorten identifier names of all internal declarations that are not in the packageNamespace when the package is set to "component".

[2016-01-21 05:48] mykohsu opened #72 "Duplicate identifier if using visual studio internal modules?"
[TsProject] Scripts/Framework/Class/Main.ts(5,18): error TS2300: Duplicate identifier 'Main'.

[2016-01-21 16:55] ToddThomson commented on #72
@mykohsu I would love to help you out, but you haven't really given me much information to go on. Can you please submit a concise gist or some source that I can use to reproduce the issue?

[2016-01-21 18:53] bitbay opened #73 "tsproject fails with typescript 1.7.5"
Maybe it is an outdated package issue in the npm registry, but with typescript 1.7.5 i do get
[code]
with typescript 1.6.x it works as expected.
Seems that some of the ts methods have different signature in the latest version.

[2016-01-21 20:53] ToddThomson commented on #73
@bitbay Yes. Please upgrade to the latest 1.2.0-rc.4 release - it is compatible with Ts 1.7.x. I'll be posting another RC release ASAP as phase II of the minifier is almost there.
I will leave this issue open until the 1.2.0 release is published.

[2016-01-21 21:01] ToddThomson opened #74 "Announcement: TsProject 1.2.0 Release"
I have about another day or 2 of testing/debugging the minification feature of TsProject. The 2nd phase of the minifier allows for convention based internal class identifiers ( and their properties and methods ) to be shortened.
When TsProject ( built and minified with TsProject ) is stable Ill issue a final RC and then about a week later go to final.

[2016-01-25 22:59] mykohsu commented on #72
@ToddThomson Sorry for the late response. Unfortunately for me I'm limited to what I can post, but will try to put together an example that shows what is happening.

Here is the tsproject.json, which is under Scripts\Framework:

    {
        "compilerOptions": {
            "diagnostics": true,
            "inlineSourceMap": true,
            "noResolve": false,
            "outFile": "../../.tsp

[2016-01-26 01:15] ToddThomson commented on #72
@mykohsu I haven't looked into your additional information yet, but I have fixed a bug in the 1.2.0-rc.x releases that could cause a duplicate identifier in the bundle compilation. I will be releasing the next rc update as soon as the minification feature has been tested to my satisfaction ( hopefully this week ).
I will look at your additional information tomorrow. Thanks!

[2016-01-26 01:40] ToddThomson commented on #72
@mykohsu Would you please provide simple implementations (source) for main.ts, dep1.ts, dep2.ts. I would like to see your import statements and what the dependencies are between the 3 source files. Just keep it really simple!

I can tell you that TsProject builds a dependency tree for all the project source files. Since your tsconfig.json does not have a "files" property, all files in your source

[2016-01-29 03:22] mykohsu commented on #72
@ToddThomson I actually get the same duplicate identifier without any /// references. Because we are using internal modules, /// references is needed for the TsCompiler otherwise in single file output the order of generated code is based on file hierarchy.

[code]
It looks like TsProject is creating a new file main2.ts (using bundle name) with the same contents as Class/Main.ts and compiling main2

[2016-02-01 17:11] ToddThomson commented on #74
I am still testing phase II of the minification feature. It may be 1 or 2 weeks before this feature is ready to be released.

[2016-02-04 18:33] ToddThomson commented on #74
Minification feature almost complete. NPM 1.2.0-rc.5 published. Master branch updated.

[2016-02-04 18:42] ToddThomson commented on #66
@heruan This feature is now provided in the NPM release 1.2.0-rc.5.

[2016-02-04 19:24] ToddThomson opened #75 "Bundle Minifier Incorrectly Reduces Some Externally Defined Identifiers"
In release 1.2.0-rc.5.

[2016-02-04 19:56] ToddThomson commented on #75
TsProject must check for ambient functions - these function names / identifiers cannot be minified.

[2016-02-04 20:13] #75 closed

[2016-02-04 22:35] ToddThomson commented on #71
This feature is now in NPM release 1.2.0-rc.7

[2016-02-04 22:36] ToddThomson commented on #74
Latest NPM release is 1.2.0-rc.7

[2016-02-05 12:50] heruan commented on #66
Thank you very much @ToddThomson! I'll try it out ASAP.

[2016-02-05 15:46] ToddThomson commented on #66
@heruan You're welcome. Please use the latest rc.7 for testing.

[2016-02-05 19:59] ToddThomson commented on #65
Adding namespace import aliases to the list of identifiers which can be shortened.

[2016-02-05 20:59] ToddThomson commented on #74
Updated to 1.2.0-rc.8. Last rc. I will address issue #72 before releasing the final 1.2.0 release.

[2016-02-06 19:18] frankebersoll commented on #74
Hey there! This is some awesome work you are doing. We use your project for exceptionless.js and even without your minification features (tsproject then uglify) created the most compact output of all alternatives that I tried. Will test the RC now and look if it can get even better - I think so, because most names could be mangled.

Though, we have one problem, and that is with source maps. Does t

[2016-02-06 20:57] ToddThomson commented on #74
@frankebersoll Thanks! As you may know TsProject builds, packages and minifies typescript source. It uses the Typescript AST and many internal services. The only thing that I could not do before the transpilation step is whitespace elimination. There is no access to the emitter. White space elimination completely relies on the services of the typescript scanner and is really a simple, but it works

[2016-02-09 17:28] ToddThomson commented on #74
@frankebersoll If you are keen on a source maps feature please add an issue for it. We can then discuss what the general requirements will be. Thanks.

[2016-02-26 13:33] niemyjski opened #76 "Create releases with release notes"
This allows us to see the release notes in an easy to find spot, compare changes between releases and cleans up the readme :).

[2016-02-26 13:35] niemyjski opened #77 "Error with 1.2.0-rc.8 and typescript 1.8.2"
We just upgraded to Typescript 1.8.2 (was working with 1.7.x) and noticed we hit an issue with our javascript project..

[code]

Steps to reproduce pull down https://github.com/exceptionless/Exceptionless.javascript, update typescript and run `gulp default`

[2016-02-26 16:44] ToddThomson commented on #77
I will update TsProject to work with Typescript 1.8.x ASAP. I'll then publish TsProject 1.2.x Final.

[2016-02-26 17:01] niemyjski commented on #77
Thanks!

[2016-02-26 17:33] ToddThomson commented on #77
As there are usually some breaking changes in the minor release updates to Typescript, I've changed the project.json file to match using the tilde prefix. This change will be in the 1.2 final release of TsProject.

[2016-02-26 18:12] ToddThomson commented on #77
Breaking change to Typescript 1.8.x diagnostic messages. TsProject now supports the new API.

[2016-02-26 20:43] niemyjski commented on #77
Awesome thanks!

On Fri, Feb 26, 2016 at 10:12 AM -0800, "Todd Thomson" <notifications@github.com> wrote:

Breaking change to Typescript 1.8.x diagnostic messages. TsProject now supports the new API.

—
Reply to this email directly or view it on GitHub.

[2016-02-29 17:02] ToddThomson commented on #77
@niemyjski Sorry, I don't have a lot of time today, but please test with the rc.9. and I will try to address any issues you have midweek.

[2016-02-29 17:07] niemyjski commented on #77
I upgraded to the latest release and I think there may be a few issues with it. Could you please run `grunt default` and take a look.

From my initial observation, it looks like iffy blocks changed and the use strict block may be invalid? Also some local code blocks have been changed (users to users_1 and events to events_1). I'm not sure if these should have changed.

[2016-02-29 17:13] ToddThomson commented on #77
@niemyjski The "_1" additions are from Typescript - they have to do with uniquely resolving let defined identifiers. TsProject does not change any identifier names unless "minify" is set to true.
I have very little time this week, so please try to pinpoint any issues you have so that I can try to help you this week.

[2016-02-29 17:18] ToddThomson commented on #77
@niemyjski Not sure what you are referring to with "iffy" blocks. Typescript 1.8 does have changes to the "use strict". Please check out all the breaking ( and non-breaking ) changes in Typescript 1.8.

[2016-03-03 15:05] ToddThomson commented on #77
@niemyjski Do you have any additional information on this issue? I will have a few hours this afternoon to take a look if you provide details. Thanks.

[2016-03-03 15:07] niemyjski commented on #77
I need to look into it further but been busy on other things. I'm just wondering if it's normal for typescript to generate that code or not.

[2016-03-03 15:16] ToddThomson commented on #77
@niemyjski Yes, this is normal in Typescript 1.8. The identifier names which have an appended underscore and number are used with identifiers declared with the let keyword. It occurs when you are targeting < ES6 ( since block scoped identifiers do not exist pre ES6 ) and there is a collision between a function scoped var and a block scoped "let" ( same name ). When using "let" be careful with actu

[2016-03-03 15:50] ToddThomson opened #78 "Source maps with minified bundles"
Placeholder for discussion to add source maps for minified bundles.

[2016-03-03 15:54] ToddThomson commented on #74
@frankebersoll Let's use issue #78 for discussion of source maps. Hopefully we can get this feature into release 1.3.

[2016-03-03 15:55] ToddThomson commented on #77
This issue has been addressed in release 1.2.

[2016-03-03 15:55] #77 closed

[2016-03-03 15:56] ToddThomson commented on #73
TsProject 1.2 is compatible with Typescript 1.8. If you require Typescript 1.7.x please use TsProject 1.1.

[2016-03-03 15:56] #73 closed

[2016-03-03 15:57] ToddThomson commented on #71
Provided in TsProject 1.2.

[2016-03-03 15:57] #71 closed

[2016-03-03 15:57] ToddThomson commented on #65
Provided in TsProject 1.2.

[2016-03-03 15:57] #65 closed

[2016-03-03 15:59] ToddThomson commented on #76
I'll add this type of information to the Wiki as the minor release number changes.

[2016-03-03 15:59] #76 closed

[2016-03-03 16:00] ToddThomson commented on #66
Feature(s) provided in TsProject 1.2.

[2016-03-03 16:01] ToddThomson commented on #72
This issue will be addressed in release 1.2.1.

[2016-03-03 16:03] ToddThomson commented on #74
Released.

[2016-03-03 16:03] #74 closed

[2016-03-03 18:39] niemyjski commented on #76
It's easier todo on the actual releases section and then users don't need to look elseware. It's pretty common to do this. https://github.com/exceptionless/Exceptionless.JavaScript/releases

[2016-03-03 18:43] ToddThomson commented on #76
@niemyjski Yeah, OK. I'll try this out today for the 1.2.0 release. Thanks!

[2016-03-03 20:18] niemyjski commented on #77
Thanks!

[2016-03-23 17:22] danielmoore opened #79 "gulp build cannot find module"
After cloning tsproject and running `npm install`, `gulp build` fails for me, although `tsc` has no errors. I'm running on OS X 10.11.3, node v5.3.0, and typescript v1.8.9

[code]

[code]

[2016-03-23 17:29] danielmoore opened #80 "Missing typings definition?"
[`package.json` indicates there should be a `tsproject.d.ts` file in the root][tsproject.d.ts], but no such file exists in this repo or in the npm package. Is `package.json` wrong or was the file not emitted?

[tsproject.d.ts]: https://github.com/ToddThomson/tsproject/blob/master/package.json#L8

[2016-03-23 17:45] ToddThomson commented on #80
The tsproject.d.ts is not required. I will remove the reference in the next release.

[2016-03-23 17:47] danielmoore commented on #80
How should dependent packages access the typing information for tsproject?

[2016-03-23 17:50] ToddThomson commented on #79
@danielmoore I will check out your issue this afternoon...

[2016-03-23 17:54] ToddThomson commented on #80
@danielmoore There are no type definitions for TsProject. TsProject is a gulp build tool.

[2016-03-23 17:56] danielmoore commented on #80
gulp will happily run and interpret `gulpfile.ts` - in fact, that's what I'm doing right now :smile:

[2016-03-23 18:13] ToddThomson commented on #79
@danielmoore I had a few minutes.. I used my mac development machine (OSX latest). I downloaded the 1.2.0 TsProject release from GitHub Releases. Opened a terminal window and navigated to the project. I then entered the 'npm install' command followed by 'gulp build'. The build was successful.

I do my typescript development on my Windows Server machine, so this build was only from GitHub sources.

[2016-03-23 18:36] danielmoore commented on #80
By that I mean: you can write a gulpfile in typescript (just like you can write one in es6 with babel) and I would like to be able to use the type definitions for `gulp-typescipt` in my gulp tasks.

[2016-03-23 20:21] danielmoore commented on #79
Hmmm... This seems to be related to a case-sensitive file system. I was having trouble with `tsc` initially - it complained about some files being missing, though they were just cased incorrectly (see #81). I fixed those and got `tsc` working (as shown), but `gulp build` still didn't work.

[2016-03-23 21:07] ToddThomson commented on #79
@danielmoore OK. I'll check my source to make sure all imports use file paths with the correct case.

[2016-03-23 21:32] danielmoore commented on #79
@ToddThomson #81 should cover it

[2016-03-23 22:01] ToddThomson commented on #79
@danielmoore I've merged your changes. Thank-you!

[2016-03-23 22:03] ToddThomson commented on #80
@danielmoore I've added the tsproject.d.ts file to the repository. TsProject only exports the single API method.
Please let me know if you require anything more.

[2016-03-24 15:13] #79 closed

[2016-03-24 15:13] #80 closed

[2016-04-05 10:39] heruan commented on #66
That's great, thank you! Is it also possibile to have TsProject generate just the bundles `.d.ts` files, without transpiling to JavaScript?

[2016-04-05 12:34] heruan commented on #66
Also, I cannot get `declare module` in the bundle definition, only `declare namespace`. Can I configure TsProject to output `declare module` instead?

[2016-04-05 22:43] ToddThomson commented on #66
@heruan When I added this feature I originally provided "declare module". However, when I reviewed the feature with how Typescript 1.8.x defines a "module" it was apparent that "declare namespace" was the correct usage.

[2016-04-05 22:46] ToddThomson commented on #66
@heruan I have complete control over the output stream and what file streams are output. To have only the bundle .d.ts definition file output I would need to add a bundle configuration option. Perhaps you could add an issue for this and I will add it to the 1.3 milestone.

[2016-04-06 14:40] danielmoore commented on #80
The casing needs to match. `'tsproject.d.ts' !== 'TsProject.d.ts'` :cry:

[2016-04-06 22:19] ToddThomson opened #83 "Component d.ts file for CommonJS module causes runtime error"
TsProject outputs:
[code]
but for a CommonJS module it should perhaps output:
[code]

Currently investigating...

[2016-04-07 10:02] heruan commented on #66
@ToddThomson I didn't know about `declare namespace`, but to work with ES6 modules a `declare module` is needed (also, many modules have names with dash chars). Maybe you could add a new option in `tsconfig.json` to output module declarations like this?
[code]

[2016-04-07 16:17] ToddThomson commented on #66
@heruan I'm going to reopen this issue for tracking purposes.

I will review the use of  declare "namespace" vs "module" again. However, I am almost certain that ```declare module``` in Typescript is now only used for pre Typescript 1.5.

The namespace "name" comes from ts code, so you should be able to use whatever you like.

[2016-04-07 16:30] ToddThomson commented on #66
@heruan OK, for ES6 modules, ```declare module``` should be used. Namespaces still must be supported. I will support both based on the code context.

[2016-04-07 16:57] ToddThomson commented on #66
The TsProject packageNamespace bundle configuration option will be renamed to packageModuleName. TsProject will determine if the module name refers to a Typescript namespace ( "Internal" module ) or an ES6 module and output accordingly.

[2016-04-08 09:43] heruan commented on #66
Why not use the *key* of the `bundles` object in `tsconfig.json`?

[2016-04-08 16:41] frankebersoll opened #84 "TypeError: Cannot read property 'flags' of undefined"
When building our project with minification enabled, we get this:

[code]

Looks like "A property has a value declaration" isn't true in every case, but I don't know enough about the AST to understand what's going on here.

The current symbol looks like this:

[code]

[2016-04-08 18:06] ToddThomson commented on #66
@heruan I'll have some time early next week to resolve this issue. Whatever is simplest and works with all package types will be what I go with. Thanks again for your input.

[2016-04-08 19:19] ToddThomson commented on #84
@frankebersoll The current symbol flag value is 134217732. This is a combination of SymbolFlags.Prototype + SymbolFlags.Property. The symbol dump indicates that you have something like

 ```Configuration.prototype.someProperty = somePropertyValue;```

I realize that "prototype" is a reserved word and thus cannot be shortened. I will review how reserved words are treated in TsProject.

I will need

[2016-04-08 21:18] frankebersoll commented on #84
Hey Todd,

you can use this commit to reproduce the issue:

https://github.com/exceptionless/Exceptionless.JavaScript/commit/113155cc1dd094b86479c227cbe67cea748b84d6

Cheers and have a nice weekend!

[2016-04-11 16:17] ToddThomson commented on #84
@frankebersoll I don't use git command line, so I am not sure how to download the source you are referring to above. I tried downloading the features/build branch, but I cannot get it to compile without error. Please let me know what to download to reproduce this issue. Thanks.

[2016-04-11 21:01] ToddThomson commented on #84
@frankebersoll I've been able to recreate this issue by downloading exceptionless.javascript release 1.3.2 and modifying it slightly.
While is is obvious that the 'prototype' property cannot be shortened, I want to make sure that TsProject handles assignment to the 'prototype' properly.
It may be the case that your PR fixes this issue, but I have a feeling that the general fix will take a bit more

[2016-04-11 22:40] ToddThomson commented on #84
@frankebersoll This is an interesting issue. It is not straight forward!

[2016-04-12 15:18] ToddThomson commented on #84
@frankebersoll I've opened an issue with the TypeScript project  https://github.com/Microsoft/TypeScript/issues/8024

I need to resolve the TypeScript issue before I can complete fixing your issue.

[2016-04-12 18:24] ToddThomson commented on #84
@frankebersoll @niemyjski I believe the solution to this issue can be handled by simply checking for a null valueDeclaration. However, as I thought, there are issue(s) that (may) result from this. TypeScript 1.8.9 does not resolve the Type for ```this``` in functions that are assigned to object.prototype (well, they are resolved to ```any```). This leads to property identifiers not having associat

[2016-04-12 21:24] ToddThomson commented on #84
@frankebersoll @niemyjski I've written some experimental code to resolve the Type for ```this``` when it is contained in a function that has been assigned to a class object prototype. I am not sure why TypeScript does not do this ( there prob. is a reason which will become apparent when they answer my issue ).
Are you in a rush to have this issue resolved?

[2016-04-13 14:02] niemyjski commented on #84
@ToddThomson I don't think we are in any big hurry but we are looking to switch from uglify to the new stuff soon.

[2016-04-13 14:02] niemyjski commented on #84
I don't say this enough but I really appreciate all the work you do!

[2016-04-13 15:10] ToddThomson commented on #84
@niemyjski Thanks!
I am ready to release TsProject version 1.2.1. It will contain the fix for this issue. It will also include type resolution for ```this``` within functions that are assigned to the object prototype property.

[2016-04-13 16:24] ToddThomson commented on #84
This issue has been addressed in release 1.2.1. Thank-you for your input!

[2016-04-13 16:24] #84 closed

[2016-04-13 16:45] niemyjski commented on #84
Awesome!!

[2016-04-13 16:54] frankebersoll commented on #84
Great stuff, thank you so much!

[2016-04-13 17:14] ToddThomson commented on #84
@frankebersoll @niemyjski You're welcome.
The minification feature is pretty new. It is used to build TsProject itself, so it does work quite well (better than all the current javascript minifiers). If you do run into any issues I should be able to address them quickly. Good luck and happy coding!

[2016-04-13 22:07] frankebersoll opened #86 "Module design for optimal minification"
One question about minification in general: How can we design our modules so that only a well-defined public api surfaces unmangled? Our project has an `ExceptionlessClient` that can be configured with plugins and depends on several services. It might be desirable to have a minimal-size version of the library for users that have no interest in extending any of its inner workings, so most of the na

[2016-04-13 23:07] ToddThomson commented on #86
@frankebersoll Please see issue #71. I use this feature to build TsProject. Essentially, it provides a namespace to allow for exported (public) classes. Classes outside this "package" are treated as internal so that the minifier shortens pretty much all identifiers in these "internal" classes. This is a huge win for minifying TypeScript code.
The best way to see this is by turning off whitespace r

[2016-04-13 23:19] ToddThomson commented on #86
@frankebersoll Additionally, by convention all classes that are not "exported" ( int the generated bundle source file ) are treated as internal by the minifier. The bundler uses the bundle package configuration settings to decide when to remove the "export" keyword from the project source files.

[2016-04-14 12:03] niemyjski commented on #86
@ToddThomson, I haven't had a chance to take a look into this yet, but we mark everything as public / private / internal. Those that are not marked public should be mangled. From these discussions it sounds like that may not be the case. Is this true? Thanks for your time.

[2016-04-14 14:23] ToddThomson commented on #86
@niemyjski No that is not the case. All private method and property names are shortened.

The problem is that TypeScript does not have an internal modifier for classes. So the solution is to find a convention that allows for a package to have a pseudo set of internal classes. I chose to do this with a package "namespace". Anything inside the package namespace and TsProject will treat as external (

[2016-04-14 14:34] ToddThomson commented on #86
Reference to issue #66

[2016-04-14 16:38] sparticus37 opened #87 "Question: Creating multiple bundles for external modules with shared dependencies"
I have an example project structure where are all files are external modules. I would like to create two bundles for it, one for the store module and one for dashboard. Both store and dashboard have a shared dependency on user, but I do not want user to be put in to both bundles.  How  can I configure user to be included in only one? Also, how can I exclude items like third-party dependencies (i.e

[2016-04-14 19:58] ToddThomson commented on #87
@sparticus37 The answer to your questions is totally dependent on which module loader you are using. However, I will assume that your tsconfig.json "target" is "es5" and the "module" is "amd".

1) external third party libraries like "jquery" are not included in bundles. These are loaded by requirejs separately. Usually these are optimized into a single package using the require optimizer.

2) You

[2016-04-14 21:28] sparticus37 commented on #87
Thanks @ToddThomson that helps a alot!

One thing I noticed after building TsProjectTodoMVC is that the generated bundle includes angular in it. Is the because the "app" bundle includes `references.d.ts` which has ///references in it, or am I missing something?

[2016-04-14 21:55] ToddThomson commented on #87
@sparticus37 /// references are only used by Typescript to resolve the Type information in the 3rd party external library. It is up to the your app to make sure the library is loaded and is available to your app.

In the case of TsProjectTodoMVC, when the gulpfile.js build task is run it uses the requirejs optimizer to package everything up into a single script.

TsProject is used to bundle separa

[2016-04-14 22:22] sparticus37 commented on #87
Ah I see, thanks for the clarification.

[2016-04-14 22:22] #87 closed

[2016-04-15 17:37] ToddThomson commented on #66
@heruan I've researched this issue and it is not straightforward in that there are a few TsProject concepts/features that are related. I want to find the simplest solution.
It terms of this issue, using TypeScript 1.8.x:
1) TypeScript can generate an ambientDeclaration of the form ```declare module "mod-name" { }```. Albeit with a bit of trickery.
2) TypeScript does support the the generation of `

[2016-04-18 15:27] ToddThomson commented on #66
@heruan I'd like to release v1.2.2 this week if I can get this issue closed. Do you have some time early this week?

[2016-04-18 15:51] heruan commented on #66
Thank you @ToddThomson for your intereset. Here's a sample repository: https://github.com/heruan/tsproject-bundles
`gulp build` will produce this `dist/src/bundles/foobar.d.ts`:
[code]
where I would expect this:
[code]

[2016-04-18 16:21] ToddThomson commented on #66
@heruan Thank-you. Can you update your test project to include a "consumer" for your bundled library? I would like to see how the consumer would use the foobar.d.ts in the way that you have requested.

Please note that without any changes to TsProject, we can already produce:
[code]
To me, this is the same as what you've asked for ( but I want to be sure, so I am asking for you to update your proj

[2016-04-19 19:47] ToddThomson commented on #66
@heruan There is so much conflicting information on how to structure a Typescript Declaration Module properly! From what I've read through concerning using Ambient Module Declarations ( what you are asking for - declare module "moduleName" {} ) within a d.ts is not the "current" / "proper" approach.
What I really need to see from you is how you want to consume a bundle created with TsProject and w

[2016-04-19 19:56] ToddThomson commented on #86
@frankebersoll @niemyjski Let me know when you've got an understanding of how TsProject currently separates the public and internal API for a bundle. I'm pretty sure that TypeScript 1.8.9 (or greater) with namespace merging together with TsProject "packaging" should work for you. However, I can always update the feature if required.

[2016-04-19 20:43] heruan commented on #66
Thank you @ToddThomson! The output you show here, i.e.
[code]
could work for me, how can I get that?

[2016-04-22 18:32] ToddThomson opened #88 "Convert to Typings from Tsd"
TsProject build will use Typings as Tsd is now deprecated. This will be included in the 1.2.2 release.

[2016-05-03 15:36] niemyjski opened #89 "Ambient definitions being implicitly picked up from installed npm packages"
Does tsproject or typescript is automatically picking up typings that are in npm packages of which I never referenced? I have always referenced exactly what ambient definition files I want to reference and now they seem to be picked up after npm installing a package up date.

https://ci.appveyor.com/project/Exceptionless/exceptionless-javascript/build/1.4.329

[2016-05-03 15:59] niemyjski commented on #89
https://www.typescriptlang.org/docs/handbook/typings-for-npm-packages.html

[2016-05-03 16:00] niemyjski commented on #89
If I copy this definition to a local folder and put it in the files section of tsproject and remove the definition from the npm folder everything works. If I do the opposite, and delete all references and local definition and use the one in the node_modules folder I get the following error:
https://github.com/csnover/TraceKit/blob/master/tracekit.d.ts

[TsProject] /Users/blake/Code/Exceptionless.J

[2016-05-03 16:01] niemyjski commented on #89
Is there a good way to know which definitions will be used?

[2016-05-03 16:08] ToddThomson commented on #89
@niemyjski Take a look at the tsconfig.json setting: moduleRsolution .

[2016-05-03 16:25] niemyjski commented on #89
Thanks!

[2016-05-03 16:25] #89 closed

[2016-05-03 16:46] niemyjski opened #90 "Possible imports issue"
I am using the ambient definition via the resolved package typings (https://github.com/csnover/TraceKit/blob/master/tracekit.d.ts). TraceKit is a global instance (like $) that is always initialized. I can import it and everything compiles in my project like

`import {TraceKit, StackTrace} from 'TraceKit'` and all is well.

However, after compiling the project I get

-TraceKit.report.subscribe(proc

[2016-05-03 17:32] niemyjski commented on #90
I've narrowed this down to you must export every function on the root as `export declare var` and `export declare function`

[2016-05-03 17:32] #90 closed

[2016-07-04 19:22] jeckhart opened #91 "tsconfig.json/compilerOptions/outDir causes the bundled js to not be output"
For example:

tsconfig.json:
[code]

In this case, a main.ts is generated, but no main.js or main.d.ts

[2016-07-04 20:29] ToddThomson commented on #91
@jeckhart The outDir compilerOption for Typescript does not need to be used. Please use the outDir bundle option instead.

[2016-07-11 14:30] Dessix opened #92 "Gulp .on("error", fn) is not called in failure circumstances"
I needed to be able to detect when a build failed in order to determine whether or not to run later build steps, and this feature would be beneficial. For the moment, I have a workaround using the --noEmitOnError functionality of TSC.

[2016-07-11 18:04] ToddThomson commented on #92
@Dessix Yes, not only beneficial, but necessary. I would welcome a PR for this feature.

[2016-07-11 18:18] Dessix commented on #92
I will try to make it, but I am very new (read "absolute beginner") to Gulp. We'll see how it goes.

[2016-07-13 16:10] Dessix commented on #92
I've got nothing. I may actually be more lost than before on how gulp works.

[2016-07-16 12:33] WHUsoft commented on #91
@ToddThomson The problem is that you'll end up with compiled `.js` and `.d.ts` files in the source directory if you don't specificy `outDir` in `compilerOptions`

[2016-07-16 17:53] ToddThomson commented on #91
@jeckhart @WHUsoft The bundle config options also has an "outDir" setting.

[2016-08-31 19:16] YoavKa opened #93 "Circular References & Inheritence"
I have three files in my project;
a.ts:

[code]

b.ts:

[code]

c.ts:

[code]

When bundling(?) the file a.ts, it inserts the class C before the class B to the file; therefore, the js output file cannot be run. With that being said, if you exchange the places of the import statements at the beginning of a.ts, class B is inserted before class C (as it should, because it inherits from it), and the j

[2016-09-26 20:46] niemyjski opened #94 "Add Typescript 2.0 support"
Are you aware of any issues with ts 2.x?

[2016-09-27 14:58] ToddThomson commented on #94
@niemyjski I have no scheduled time to look at TypeScript 2.0. I'd be willing to look at PR for 2.0 support.

[2016-09-28 13:24] niemyjski commented on #94
Thanks, I just wanted to check in. I'm going to try and update to 2.x in the near future :)

[2016-10-21 20:37] ToddThomson commented on #94
I can't promise anything, but I'll update the project for TypeScript 2 today and see how it goes

[2016-10-22 20:46] ToddThomson commented on #94
Quite a lot has changed with Typescript 2.0. I can now build TsProject with Typescript 2.0, but there is a single bundling minification error. I suspect that it will take a couple of development, testing days to complete the task of updating TsProject to Typescript 2.0. I'll try to get this done over the next couple of weeks, but I cannot promise anything.

[2016-10-24 16:23] ToddThomson commented on #94
@niemyjski I'm pretty confident that the updated TsProject to support Typescript 2.0 now works fine as I can use it to build itself.
Would you have some time to test a release?

[2016-10-24 16:50] niemyjski commented on #94
Yeah, I could test it but not till late next week.

[2016-10-24 16:59] ToddThomson commented on #94
@niemyjski Thanks. It will be TsProject 2.0 to match the Typescript 2.0 version.

[2016-10-26 00:47] ToddThomson commented on #94
TsProject 2.0 is now ready for release. TsProject ( bundled and minified ) is used to build TsProject!

[2016-10-26 00:55] #88 closed

[2016-10-26 16:29] #91 closed

[2016-10-27 23:25] ToddThomson opened #95 "Module definitions in node_modules/@types not found"
TsProject 2.0.0 does not correctly implement ModuleResolutionHost interface.

Just finishing up testing of fix.

[2016-10-28 14:33] ToddThomson opened #96 "Bundler incorrectly adds import statements from ambient definition files"
When bundling an Angular2 test app I found that the bundle compile failed due to ambient definition files being added to the bundle when they were not needed.
I'm not sure whether this is just a Typescript 2 related issue or not.

[2016-10-28 21:42] ToddThomson commented on #96
This issue has been fixed.

[2016-10-28 21:43] ToddThomson commented on #94
I'm closing this issue as Typescript 2.0 is supported by TsProject release > 2.0.0

[2016-10-28 21:43] #94 closed

[2016-10-28 21:47] ToddThomson commented on #96
This issue is fixed in release 2.0.1

[2016-10-28 21:47] #96 closed

[2016-10-28 21:48] ToddThomson commented on #95
This issue is fixed in release 2.0.1

[2016-10-28 21:48] #95 closed

[2016-11-02 16:17] ToddThomson commented on #93
@YoavKa Sorry, I couldn't get to this issue sooner.

Yes, I've reproduced this issue and will have a fix soon.

[2016-11-02 17:37] ToddThomson commented on #93
@YoavKa This comes down to how to order bundle inserts of dependent source files in the presence of circular dependencies. Currently TsProject does not look for circular dependencies when traversing the dependency graph.
I will offer the following algorithm:
When traversing the dependency graph, TsProject will look for circular dependencies. When found, I will look for inheritance to help resolve

[2016-11-03 16:18] ToddThomson commented on #93
@YoavKa TsProject now checks for circular dependencies. It deals with circular dependencies in a basic manner: if detected then the dependent source file will be written to the bundle first.

Here is the bundled output from your scenario:

[code]

[2016-11-04 13:50] YoavKa commented on #93
@ToddThomson You're solution seems good, but I was not able to reproduce it locally (maybe github/npm are not up to date?). The example I gave is a simplified version of my project, which has a lot of circular dependencies, so I'm hoping this would fix it. Thanks for the response!

[2016-11-04 15:21] ToddThomson commented on #93
@YoavKa I have not released this fix yet. It needs a bit more testing time. Maybe what I'll do is push the changes to Github first so that you can build and test the change against your project.

[2016-11-06 09:26] YoavKa commented on #93
OK, I tested the changes you made, but they don't work in my case; if you change the order of the import statements in the a.ts file, it won't be able to compile, as it includes C before B.
If I understand correctly, the algorithm you implemented is the following: if A is the main bundle file, and -> denotes importing, then if A -> C -> B -> C, the bundler will try and add the source of C before B

[2016-11-06 10:06] YoavKa commented on #93
A pseudo code for the algorithm would look something like this:
1. files <- getAllImportedFiles()
2. parents <- a new, empty dictionary
3. for each file in files:
4.    parents[file] = getParents(file)
5. while there are keys in parents:
6.    for each file in parents:
7.        if parents[file] is an empty list:
8.            addSourceFile(file);
9.            parents.remove(file);
10.          f

[2016-11-07 16:47] ToddThomson commented on #93
@YoavKa Thank-you for taking the time to investigate this issue.

You are correct the order of imports is important when handling circular references and inheritance. For the basic algorithm I added, my assumption was that import references to a circular dependent pair would always have the base class imported first. This is why I did not include a specific check for inheritance.

I would like to

[2016-11-07 20:50] ToddThomson commented on #93
@YoavKa Diving into this issue has possibly led to a potentially interesting optimization. Can bundling work on import module dependencies ( just the source code referenced by the importClause named bindings ) rather than the whole source file.

For example if you had a bundle source file a.ts as

[code]

Then why include the "SomeOtherClass" source code from b.ts?

[2016-11-07 20:58] ToddThomson opened #97 "When bundling only include the source code for referenced named bindings in imports"
Right now TsProject bundles the the entire source file from imported modules. While working on issue #93 it seems as though this is not really necessary. We should be able to utilize the named bindings in the import to selectively add only the source code for the individual named bindings.

[2016-11-07 21:27] ToddThomson commented on #97
Can this optimization also be applied to included external libraries if their source code is provided. It seems likely that javascript sources are processed the same as ts sources. This would require external library dependency graphs to be created by the bundler.

[2016-11-08 23:14] ToddThomson commented on #93
@YoavKa It took a bit of experimenting, but the general solution is before including a source code module into the bundle, the source module import statements named bindings are checked against the  module exports inheritance clauses. If a named binding matches an inheritance clause name then the import statement module with the match is added to the bundle first.

I want to clean up and fine tune

[2016-11-08 23:59] ToddThomson commented on #97
in practice I only really use a single export per module so this would not be a benefit to me or I would guess anyone else. I must have been a bit tired yesterday afternoon!

[2016-11-08 23:59] #97 closed

[2016-11-09 16:51] ToddThomson commented on #93
@YoavKa I've updated the master branch with additional changes to handle order of module insertion into the bundle for circular dependencies and inheritance. Please test against your project.

[2016-11-09 19:26] ToddThomson opened #98 "Support Typescript Angular2 component minification when bundling to a component package"
TsProject can produce a "component" package for Angular2 applications. When a component package is also minified most identifiers can be shortened resulting in a much smaller application package. However, TsProject currently shortens Angular 2 component classes which results in binding runtime error(s).

[2016-11-10 09:24] YoavKa commented on #93
Your solution works just fine on my project, Thanks! I hope you will update the npm package shortly ;)

[2016-11-10 17:18] ToddThomson commented on #93
@YoavKa I should be able to create the 2.0.2 release over the weekend. Glad the changes worked for you.

[2016-11-10 18:34] ToddThomson commented on #86
@frankebersoll @niemyjski I am currently looking at using a comment transform directive to override when an identifier may be mangled. For example ```/* @minify( "argument" ) */``` . This way I can utilize the TsProject package=component feature to expose a public API based on a namespace identifier and have the rest of the package be internal and thus mangle all identifiers except for those marke

[2016-11-10 23:00] #93 closed

[2016-11-11 14:57] ToddThomson commented on #86
@frankebersoll @niemyjski Please let me know if you are still interested in this issue. I am going to be making changes to the "packaging" feature of TsProject over the next couple of weeks and would welcome your input on what you require in this area.

[2016-11-11 15:27] scniro opened #99 "Decouple TsProject from gulp and rename to TsBundler, Ts2Js, TsMinifier, Gulp-TsBundler"
Gulp is great, but lately I've been getting away from it. This library should be able to be used as a standalone module with no coupling to gulp.

 - Why is it currently used exclusively with gulp?
 - Can we do without?

[2016-11-11 15:47] ToddThomson commented on #99
@scniro TsProject uses gulp only because I use gulp in all my personal build scenarios. However, I also do see the need to decouple TsProject from the gulp build pipeline. I am considering a couple of name changes:

- The node module (essentially your request) would be called TsPackage. Essentially this is a Typescript package builder for a developers own source code modules ( an app, component, l

[2016-11-11 16:03] ToddThomson commented on #98
When TsProject packages a set of modules ( based on dependency analysis of 1 or more input source files ), it can make all but a specific namespace "internal". This means that the minifier can reduce or shorten many more identifiers. This works well for most applications, but for Angular components this can cause grief with component bindings.

To allow TsProject to override identifier mangling I

[2016-11-11 16:11] ToddThomson commented on #99
TsProject will be decoupled from gulp and a separate gulp plugin will be built using the resultant TsPackage node module. The gulp plugin will be called gulp-tspackage.

[2016-11-11 17:59] ToddThomson commented on #99
Additionally the Typescript minifier will be broken out as a node package called TsMinify

[2016-11-11 21:06] ToddThomson commented on #99
TsPackage will have essentially the following API:

[code]
or
[code]

[2016-11-11 21:45] niemyjski commented on #86
Yes, this would be something I'd be interested in, ideally it would be controlled via the access modifiers  and you wouldn't have to do anything.

[2016-11-11 22:06] ToddThomson commented on #86
@niemyjski The minifier utilizes the Typescript AST and examines identifier flags for access modifier flags. This yields a bit better results then uglifyjs. However, for optimal minification there are conventions that can be used to make more of the bundle/package "internal" and thus even public identifiers can be mangled. This results in much better minification than uglify.js. However, there are

[2016-11-11 22:20] ToddThomson commented on #99
@scniro I'd be happy to look at what you would like for builder.run() to return in the callback.
I'm thinking about passing an optional output stream (file, stream, buffer). If not provided then the build uses the Typescript config json file options to determine where the bundle output goes. If provided then the output goes to the output stream. Let me know what you think.

[2016-11-12 01:28] scniro commented on #99
@ToddThomson hey!! Thanks for being so awesomely responsive and open to working on this. I'd gladly help out to get something cool for us. I'm quite busy as of late, but I'll chime in on what I have and what sort of vision I had as well.

I dug through the source a bit and came up with a hacky gulp-free work around already that can surely be improved on. In [`TsProject.ts`](https://github.com/Todd

[2016-11-14 14:58] niemyjski commented on #86
Yeah, I think an annotation within a comment would be good or maybe even an annotation (no comment).

I'm not sure @frankebersoll is available anymore :( I haven't heard from him in months. I'll take a look at #99

[2016-11-14 19:21] niemyjski commented on #99
That sounds good to me :). It would be nice to split these out and rev them independently.

[2016-11-14 19:22] niemyjski commented on #99
It would be nice for existing users to make the minimal amount of changes to the api surface of the current gulp integration. But if there is a good change to be had, make it!

[2016-11-14 20:44] ToddThomson commented on #99
@niemyjski The node package you will need to import/require will change to "tspackage-stream". Essentially this package will wrap TsPackage and provide a streamed output from the project build. With TsProject the API was tsProject.src(). I am not sure if the function name "src" will still be appropriate. I'll know more as I make progress on this issue.

[2016-11-15 21:47] isguhseroi opened #100 "Installing tsproject breaks compilation of existing project"
I should have done more research before opening the issue, this isn't a problem in tsproject.  Closing.

[2016-11-15 22:30] #100 closed

[2016-11-16 19:59] ToddThomson commented on #99
The new TsPackage will support compilation to memory or to disk. The callback passed to TsProject will return a BuildResult object that will provide an optional "output" property which will contain the emittedFiles output from the compiler. When compiling to disk the BuildResult object will contain a list of all files emitted.

[2016-11-16 20:45] ToddThomson commented on #99
@niemyjski I need your input on this...

I think that TsPackage will treat the compilation of the tsconfig.json "files" as intermediates for the processing of bundles. The tsconfig.json project "files" will still be emitted to disk depending on the  Typescript compiler options, but the BuildResult will only include success or failure of building bundles. This means that the TsPackage-stream node p

[2016-11-16 22:26] niemyjski commented on #99
I'm not sure I 100% follow. I'm not sure tsconfig.json should know anything about how it's about to be compiled, that would be an option inside of the tspackage-stream package. I think that it would just take the output and output to disk. Would the stream always contain a in memory version of the bundle? I haven't had to touch gulp in 6+ months so It's not so fresh in my head.

[2016-11-16 22:58] ToddThomson commented on #99
@niemyjski TsPackage-Stream.src() will have the same API as TsProject. However, TsPackage-Stream will be dependent on TsPackage. TsPackage is now just a module bundler for Typscript. It will not be dependent on gulp and streaming vinyl files. So, to keep the TsPackage API clean I will no longer do anything other than write the compiled project files to disk. The TsPackage API will return a BuildRe

[2016-11-16 23:21] niemyjski commented on #99
Yeah, I think that will be fine for our use cases. This should also make it much cleaner and allow more people to use it!!

[2016-11-18 19:04] ToddThomson commented on #99
Update on package names:

The Typescript bundle builder will be called TsBundler.
The Typescript minifier will be called TsMinifier
The Gulp widget/plugin will be called gulp-tsbundler

[2016-11-21 11:50] niemyjski commented on #99
I Like it :)

[2016-11-21 14:41] ToddThomson commented on #99
This issue will now be tracked by toddthomson/tsbundler#1

[2016-11-22 23:21] ToddThomson commented on #98
This feature has been added to TsMinifier.

[2016-11-22 23:21] #98 closed

[2016-11-22 23:24] ToddThomson commented on #99
Please see TsMinifier and TsBundler issues to follow the decoupling task.

[2016-11-25 20:09] ToddThomson commented on #99
Additionally, the compiler from TsProject will be broken out to a separate package called [Ts2Js]( https://github.com/toddthomson/ts2js )

[2016-11-25 20:09] ToddThomson commented on #99
Reopening until deprecation.

[2016-11-30 15:00] ToddThomson commented on #86
@frankebersoll I am interested in talking to you about your initial comment. I am now actively looking at at minification analysis. Although it will be applied to [TsMinifier](https://gitub.com/ToddThomson/TsMinifier)

TsProject used a basic convention to make non exposed API private and non exportable. This will change substantially in TsMinifier. I will detail the new feature in that repo.

[2016-11-30 15:09] ToddThomson commented on #99
Instead of having a separate gulp plugin for TsBundler, I will provide a bundleBuilder.src() function to stream bundle files ( vinyl files ).

[2016-12-02 15:30] ToddThomson commented on #99
@niemyjski I am almost done with this task! It looks like it will provide a huge upgrade to the process of bundling, minifying and compiling Typescript projects!

Here is the gulp way of consuming the output from the bundler:

[code]

[2016-12-02 15:54] ToddThomson commented on #99
@scniro The new TsBundler by default will compile and emit all bundle files to memory and return the output in a BuildResult.

@niemyjski @scniro The new bundler no longer emits the Typescript project files ( emit is set to false in the CompilerOptions for this step in the build ). TsBundler only emits bundle specific output. This output by default is a CompilerOutput object:
[code]
My question is

[2016-12-13 18:01] ToddThomson commented on #92
This issue has been addressed in [TsBundler](https://github.com/ToddThomson/TsBundler)

[2017-04-05 02:41] holotrek opened #101 "Duplicate Identifier when multiple files reference the same class"
Please take a look at this project: https://github.com/holotrek/hello-world-npm-module/releases/tag/v0.2
Note: branched this release to https://github.com/holotrek/hello-world-npm-module/tree/tsproject while trying other approaches on master.

If you try building as is, you get many errors indicating "duplicate identifiers", such as: "Duplicate identifier 'HelloWorldService'."

If you move hello-a

[2017-04-10 13:30] niemyjski commented on #84
It looks like we are still hitting this issue. I'll work on getting more information.

[2017-04-10 13:46] holotrek commented on #101
@ToddThomson Thanks for your response. I've taken a look at the code for tsproject, and it seems one big difference between it and what I'm trying to do is that you have one "entry point", i.e. tsproject.src command. I'm trying to provide a library (i.e. Angular), so maybe tsproject is simply not the right tool to use. I'm looking into simpler options like manually creating a .d.ts file that expor

[2017-04-10 13:46] #101 closed

[2017-04-12 03:49] niemyjski commented on #84
@ToddThomson do you know if any progress has been made on this, it looks like it's the same exact issue that we ran into before (Just working on upgrading us to latest typescript https://github.com/exceptionless/Exceptionless.JavaScript/tree/feature/latest-ts)

[2017-04-12 14:44] niemyjski opened #102 "Include non minified source in npm package"
I'm getting a crazy issue and I wanted to use the non minified source file so I could get unobfuscated code to try and debug this issue locally but unable to easily do that as you only contain tsproject.min.js. Ideally I'd also have tsproject.js which is a single file without minification .

[2017-04-12 15:22] niemyjski commented on #84
I think this has something to do with how we export functions in our tests:

[code]

The passed in type to typescript.getBaseTypes(type) has an intrinsicName of unknown. and the symbol object is just the function name we export in the previous stack frame

[2017-04-12 15:36] niemyjski commented on #84
Kinda getting the feeling that it's expecting my functions to be exported from a class, and they are not (they are just test scripts)

[2017-04-17 15:08] niemyjski opened #103 "TypeError: Cannot read property 'flags' of undefined"
I think this is a regression of (https://github.com/ToddThomson/tsproject/issues/84). I've commented on #84 with more information. I dug into it a bit and I think it has to do with how we export functions in our unit tests.

[2017-04-25 22:29] niemyjski commented on #103
If there is anything I can do to help let me know. I'm not to familiar with the typescript minification but I'd be more than happy to pair on this.

[2017-04-26 15:49] ToddThomson commented on #102
@niemyjski I apologize for the delay in getting back to you Blake. As you may know, I was in the process of breaking TsProject into components. TsProject was/is to be deprecated. I don't want to leave you stuck, but I really don't have any time right now to work on TsProject. The earliest I can look at this is in early May.

[2017-04-26 16:00] ToddThomson commented on #103
@niemyjski You may want to look at the source code in ts2js and tsminifier. ts2js is the next version of the compiler. It is essentially the compiler component from TsProject. ts2js and tsminifier uses Typescript 2.1.x. It may already have a fix for your issue - although I really don't know.
I would not move to ts2js or tsminifier yet. However, the first thing I would do to update TsProject for th

[2017-04-26 16:50] niemyjski commented on #103
I can wait I really appreciate your help.

[2017-05-03 15:32] ToddThomson commented on #102
@niemyjski I am looking at your issues now. I am not certain if I want to update TsProject so that it works with the latest version of Typescript ( currently 2.3.2 ). TsProject works only with the Typescript 2.0.x versions.

I'll take an hour or so to see what effort the update will take and make my decision...

I will include the non minified source for ALL modules in the future.

[2017-05-03 21:17] ToddThomson commented on #102
@niemyjski OK. I've updated TsProject to work with Typescript 2.3.x . Look for the npm release soon.

[2017-05-03 21:58] ToddThomson commented on #102
@niemyjski Bit rusty with NPM. Broke the 2.1.0 release. Will fix soon...

[2017-05-03 22:38] ToddThomson commented on #102
@niemyjski Typescript 2.3.x also breaks the minifier in TsProject. The un-minified version of TsProject is fine.

[2017-05-03 22:40] niemyjski commented on #102
:( what's the best steps to move forward? Can I use your other project? Will that work??

[2017-05-03 23:07] ToddThomson commented on #102
@niemyjski I'll figure it out soon. It's just taking me a bit longer to remember how to debug within VS2017!
Don't worry, I should have it all put back together tomorrow hopefully.

[2017-05-04 04:30] niemyjski commented on #102
Thanks, I greatly appreciate it!!!!

[2017-05-04 18:19] ToddThomson commented on #102
@niemyjski Update: I've fixed up a couple of minifier issues dealing with Typescript versions > 2.0.x . The minified version of TsProject with Typescript 2.3.2 now runs, but I am hitting another issue. I should have it figured out soon.

[2017-05-04 22:04] ToddThomson commented on #102
@niemyjski I have traced the issue down to Typescript changes to inheritance. I will need to modify the minifier.

[2017-05-04 22:44] niemyjski commented on #102
Thanks, i really appreciate it and owe you a few drinks. I must write shitty code or be doing something wrong, seems I run into issues no matter what I'm doing.

[2017-05-04 22:57] ToddThomson commented on #102
@niemyjski No worries! Your coding is fine. The problem is more to do with how much Typescript changes between minor versions. The other problem is TsProject is too broad. I've also been too busy to finish the reorg and rewrite of the individual TsProject components. I've finally got some time, so hopefully I'll be able to get an initial release out soon.

[2017-05-05 23:36] ToddThomson commented on #103
@niemyjski OK. Found the last Typescript version change gotcha - ts.SymbolTable type changed to a Map<Symbol> . It caused grief with a for loop. Oh well.
I'll do a bit more testing over the weekend and hopefully have the updated release ready by Monday.

[2017-05-08 15:33] ToddThomson opened #104 "Update to Support Latest Typescript"
TsProject should support Typescript 2.3.2.

[2017-05-08 15:39] ToddThomson commented on #102
Fixed in NPM release 2.1.1

[2017-05-08 15:44] #104 closed

[2017-05-08 15:44] #102 closed

[2017-05-08 15:46] ToddThomson commented on #103
@niemyjski NPM release 2.1.1 should either fix this issue or give us a stable release to determine what your issue is. Please give release 2.1.1 a try and we'll go from there.

[2017-05-08 15:49] niemyjski commented on #103
I'm still getting this error in 2.1.1

[2017-05-08 15:55] ToddThomson commented on #103
@niemyjski OK. I'll need to reproduce your issue. Please let me know what I need to download from your project.

[2017-05-08 15:59] niemyjski commented on #103
I have a branch that I just updated, just need to

1. Clone https://github.com/exceptionless/Exceptionless.JavaScript/tree/feature/latest-ts
2. `npm install`
3. `gulp test`

Greatly appreciate your help.

[2017-05-08 17:18] ToddThomson commented on #103
@niemyjski Thanks... I can now reproduce the issue in my debugging env. Back to you in a bit...

[2017-05-08 18:46] ToddThomson commented on #103
@niemyjski Typescript checker.getBaseTypes( Type type ) fails for "intrinsic" Types. TsProject now checks for "intrinsic" types before calling checker.getBaseTypes.

I haven't seen IntrinsicType before, so it must be something new in Typescript.

Please try the TsProject NPM release 2.1.2.

[2017-05-08 18:47] niemyjski commented on #103
Thanks!! Will do when I land

[2017-05-09 14:28] niemyjski commented on #103
I think this fixed it, I'm still running into an issue when I run the tests. I'm not sure if it's related to the pr to update the tests + typescript or the minify (complaining about require statement missing). I'll look into it, thanks a ton!!

[2017-05-09 14:28] #103 closed

[2017-05-09 14:38] ToddThomson commented on #103
@niemyjski You're welcome.

I am working on the NPM bundler component today. Let me know of any feature requests. The main new feature that I am adding to the bundler is the generation of "internal" modules. These internal modules are defined by a "@bundlemodule( moduleName ) within an ambient typescript source file ( a source file which only contains import/export statements ). This will help str

[2017-05-09 14:47] niemyjski commented on #103
If I think of anything I'll let you know!

[2017-06-09 11:53] planktonlex55 commented on #69
[code]

[2017-06-28 13:35] niemyjski opened #105 "Use Typescript 4.0 build features"
I updated my local project to typescript 2.4 and ensured it was installed correctly and I removed my modules folder and made sure I don't have typescript installed globally. But every time my project runs it says version 2.3.4.  I looked through the code and I don't see why this would be happing, do you have any ideas?

[code]

[2017-12-20 06:07] BurtHarris opened #106 "Allowing TypeScript version to float?"
The bundling feature seems like something I want, very cool.  But it looks like this hasn't been updated since TypeScript 2.3!

Is there some reason this project doesn't use a [PeerDependency](https://nodejs.org/en/blog/npm/peer-dependencies/) for the typescript package?

As I understand it, that would allow the package being build, rather than the build tool, to determine when to upgrade.

[2017-12-20 07:28] BurtHarris opened #107 "Typescript error TS2322 building MinifiedTypesript example"
**Error:**
[code]

**Environment:**
node -v: v8.9.3
npm -v: 5.5.1
os: Microsoft Windows [Version 10.0.16299.98]

**Steps to reproduce:**

1. clone repository from git hub, open a command window in the directory...
2. execute:
[code]
**Explanation:**

Notes: MinifiedTypescript's package.json specifies `typescript@~2.0.6`, it's inheriting `tsproject@~2.1.0`, which depends on `typescript@~2.3.2`, the

[2017-12-20 07:31] BurtHarris commented on #107
Also note: while the error message says `Build completed with errors. Outputs generated.`, it looks to me like outputs are actually **not** generated in this situation.   Perhaps that's different bug.

[2017-12-20 08:46] BurtHarris commented on #106
Odd...

I tried prototyping using `peerDependencies`, couldn't get it to behave as expected using npm@5.5.1, but it did when I used yarn@1.3.2.

Even with it getting the locally specified version of typescript, it didn't fix issue #107, but that could be something else.

[2017-12-20 09:00] BurtHarris commented on #107
I retract previous speculation this might have been related to #106.

[2017-12-20 09:06] BurtHarris opened #109 "MinifiedTypescript sample: minimized javascript doesn't end up in dist folder"
Even after fixing #107, when I build the MinifiedTypescript sample, it doesn't end up with a **scripts.js** file in the **dist** directory along with **index.html**.

I don't think this is working as expected, but not sure I'm reading your intent correctly.

[2017-12-20 09:10] BurtHarris commented on #109
**Build spew**
[code]

[2017-12-20 19:51] ToddThomson commented on #106
@BurtHarris  I haven't updated TsProject in quite a long time as there was just not enough interest. TsProject utilizes many internal Typescript routines which change with almost every release of Typescript. I like the fact that Typescript is an evolving language, but it makes it quite tough to keep up with the latest changes.
I will look at an update to Typescript 2.6.2 next week.
I will look at

[2017-12-20 19:52] ToddThomson commented on #105
@niemyjski I had a request to update tsproject to the latest version of Typescript. Are you still using/interested in TsProject?

[2017-12-20 21:30] niemyjski commented on #105
Yes, we still use it and I don't think we can get off it unless it's easy to upgrade to something else. I noticed yesterday when I updated my deps that tsproject uses a specific version.

[2017-12-20 21:30] niemyjski commented on #105
Any ideas if real bundling will be built into typescript some day?

[2018-01-11 18:02] ToddThomson commented on #109
@BurtHarris Over the holidays I updated TsProject to use the latest version of Typescript. I found an issue related to package minification which I did not have time to fix. I will create a new issue here to detail my findings.

If you are still interested in TsProject I will sync the repo here with my internal development repo. Otherwise I will fix the issue as time permits. Please let me know.

[2018-01-11 18:04] ToddThomson commented on #107
@BurtHarris Thank-you for your input. Before addressing this issue, TsProject must be updated to utilize the latest Typescript version.

[2018-01-11 18:12] ToddThomson commented on #106
@BurtHarris As I mentioned above, TsProject uses many features of the Typescript AST. Since the AST changes frequently ( usually with minor version updates to Typescript ), TsProject will be dependent on Typescript version X.Y . I will allow the patch number to be wild.
Please let me know what you think.

[2018-01-11 18:12] #106 closed, assigned to ToddThomson

[2018-01-11 18:19] ToddThomson commented on #105
@niemyjski I began updating TsProject to utilize the latest Typescript version. There is an issue with a Typescript AST change which restricts identifier names to be changes ( the field is marked readonly ). This makes the minifier with TsProject fail.
I will need to test a fix for the problem and then conduct further testing to see if other issues present themselves.

[2018-01-12 03:00] niemyjski commented on #105
Thanks for the update, really appreciate it.

[2018-05-03 12:09] niemyjski commented on #105
I was just checking in to see if there was any status updates on latest ts support :)

[2018-05-03 12:11] niemyjski opened #110 "Unable to install dep when running on Node 10"
I can't install the package on node v10 because it doesn't compile the fsevents dep. It appress that you depend on chokidar which depends on fsevents@1.1.2 if we update to the latest dep this issue is fixed.

`npm la fsevents`

[2018-05-03 12:12] niemyjski commented on #110
This can be resolved by the end user by just adding `"fsevents": "1.2.3",` the the package.json in the mean time.

[2018-07-27 15:28] slavafomin commented on #105
Hello! Thank you for your effort. Are you planning to finish adding support for the latest TypeScript? We are looking for a way to create a merged type definitions and this tool looks like a good fit.

[2018-07-27 15:39] ToddThomson commented on #105
@slavafomin I just don't have any time to make the changes required for the latest Typescript version. My apologies! PR would be welcomed!

[2019-06-13 13:53] niemyjski commented on #105
I know everyone has very little time these days including myself. I was wondering if there was any time to upgrade the deps to latest typescript? I'd be willing to donate to be on latest :)

[2019-06-13 17:06] ToddThomson commented on #105
@niemyjski Hi Blake. If I remember correctly, (it has been a long while since I last looked at the code) there were a few changes to the Typescript AST that caused grief. I will take a few hours to at least determine the scope of work.

[2019-06-14 01:37] ToddThomson commented on #105
@niemyjski I am updating TsProject to utilize Typescript 3.5.x. You may have to do some testing...

Currently, TsProject builds using TS 3.5.1. I will update the GitHub source once I have done some testing.

[2019-06-20 15:45] ToddThomson commented on #105
@niemyjski @slavafomin OK. I've finished my research into the scope of work required to bring TsProject up to date with Typescript 3.5.
Typescript has come a long way over the last couple of years! I can now make use of Transforms!

I will update the following task list to keep you informed on my progress:

- [x] Update solution space (TsTools) to utilize latest vs 2019.
- [x] Breakout Compiler to

[2019-06-27 21:46] ToddThomson commented on #105
@niemyjski I am adding Mocha as the testing framework for TsTools. What is your opinion of Mocha vs other testing frameworks?

[2019-06-28 13:23] niemyjski commented on #105
I don't have any preference, I've typically used mocha but I know there
might be better alternatives out there but this works for me :)
Thanks
-Blake Niemyjski

On Thu, Jun 27, 2019 at 4:46 PM Todd Thomson <notifications@github.com>
wrote:

[2019-07-03 10:42] niemyjski commented on #105
I see you pushed a release to TS2JS, do you know exactly what I'd need to do to update to the latest releases? I get that this project is now split? Or will this just be a dependency on that and I won't have to change much?

[2019-07-03 16:10] ToddThomson commented on #105
@niemyjski

The Compiler (Ts2Js), Minifier, and Bundler are now just dependencies that TsProject will require. The TsProject.Src() function that is used within your gulp build pipeline will not change.
TsProject will just contain Typescript "Build" related features.

[2019-07-12 20:37] ToddThomson commented on #105
Weekly update: The 3.0.0 release of all TsTool components is progressing. I am currently working on TsBundler and converting it to run as a Typescript custom transformer. Likely another week or 2 to get to a RC release for each.

[2019-07-16 10:57] niemyjski commented on #105
Awesome, thank you for all of your work!

[2019-07-30 15:30] ToddThomson commented on #105
@niemyjski I am currently working on release 3 of TsProject. Typescript 3.6 is opening the compiler API to project "build" features. I have decided that I will take a dependency on Typescript 3.6 for TsProject. It makes sense as the release of Typescript 3.6 will be in August and TsProject will likely be released towards the end of August.

[2019-07-30 20:37] niemyjski commented on #105
Awesome!!!
Thanks
-Blake Niemyjski

On Tue, Jul 30, 2019 at 10:30 AM Todd Thomson <notifications@github.com>
wrote:

[2019-11-12 13:45] niemyjski commented on #105
Looks like typescript 3.7 is out with some amazing features. Hoping they made it easy to upgrade to.

[2020-02-14 13:52] niemyjski commented on #105
I was wondering if there was anything I can do to help with testing of 3.8 support. I know we are all pretty busy but will try to help in any way I can time permitting.

[2020-04-09 13:44] niemyjski commented on #105
Updated title for 3.9, hope you are doing well. stay safe.

[2020-10-25 12:57] niemyjski commented on #105
Is there any thing I can do to help finish this up?

[2020-10-27 18:35] ToddThomson commented on #105
Hi @niemyjski , I will need to review this code/project as I have not looked at it for a long time. I can't promise anything, but I will take a couple of hours to determine the scope of work.

I hope you are doing well!

[2020-10-28 13:55] niemyjski commented on #105
I'm doing good, trying my best to stay safe. Glad to hear from you again. I was running into weird issues when I tried to use beta3 where the bundles was undefined and then after I changed that it broke someplace else. I also had to change the tsproject require import as it was an object and src wasn't defined until I exported `const { TsProject } = require("tsproject");` Thanks again for your tim

[2020-10-30 20:40] ToddThomson commented on #105
@niemyjski I have update the dev branch to utilize Typescript 4.0. On my development system I built the src directory using Typescript 4 ( ```tsc --p ./src ``` from the command line ). I then used the build tasks to generate a bundled TsProject. It all 'seemed' to work. However, I haven't spent any time on seeing if TsProject still works to your needs.

Can you please clone the dev branch and test

[2020-10-30 21:52] ToddThomson commented on #105
@niemyjski npm package published: tsproject 4.0.0-beta.1

I haven't tested this yet. Please also give it a try and let me know how it goes.

[2020-10-31 12:32] niemyjski commented on #105
Hey, Thanks for pushing a beta and for spending time on this project. I updated to beta 2 in a branch: The first issue I ran into was this:

[code]

So I ran `npm install ts2js --save-dev`

[code]
My initial import and task looked like this:

[code]

Logging out the existing `tsProject` require showed that this has changed:

[code]

and it works if I do

[code]

This gets me building but now the b

[2020-10-31 15:27] ToddThomson commented on #105
@niemyjski I've fixed up the issue with the ts2js dependency. Please give the npm beta.3 lib.

I will look at your build issues once TsProject compiles and builds your bundled code.

[2020-10-31 17:37] niemyjski commented on #105
Awesome! I just updated it and the reference and import is now resolved. The generated type definitions are now populated but is a bit different (same with the generated code) and I'm not completely sure if it's correct or just changes in typescript version.

[2020-10-31 17:47] ToddThomson commented on #105
@niemyjski Please test and let me know how things go. I am doing the same. There will likely be some changes required.

[2020-10-31 17:55] niemyjski commented on #105
Will do thank you!

[2020-11-03 13:21] niemyjski commented on #105
I've been running into some issues running all my tests (CORS and outdated samples...)  but I think it's unrelated and I'll continue testing but I haven't ran into any errors so far. It seems to be running good from the e2e samples I've ran so far with the updated code. But I did have a question: Any ideas why it's voiding out all the exports?

[code]

[2020-11-03 17:26] ToddThomson commented on #105
@niemyjski I don't have a context to look at the issue with your exports all being assigned with void. It is likely better that I continue with my testing and if you encounter a problem then I can look at the specifics.

[2020-11-09 03:00] niemyjski commented on #105
I was curious if you ran into any issues? I haven't seen any yet other than this build error on the ci server (https://github.com/exceptionless/Exceptionless.JavaScript/runs/1371996235?check_suite_focus=true) but I'm getting to the point I'm going to be running mass e2e testing very soon.

[code]

[2020-11-09 03:02] niemyjski commented on #105
It looks like casing matters

[code]

![image](https://user-images.githubusercontent.com/1020579/98495845-bada9480-2205-11eb-9713-1fc5dda78976.png)

[2020-11-09 03:05] niemyjski commented on #105
I just submitted a pr which I think will resolve this issue.

[2020-11-09 18:09] ToddThomson commented on #105
@niemyjski Thank-you for your contribution to TsProject.

I have not found any issues with TsProject v4. I will soon publish a new NPM package with version 4.0.0-rc.1 with your changes ( and other small changes ).

[2020-11-09 19:50] niemyjski commented on #105
Sounds great! Please let me know when you tag and push it

[2020-11-09 20:55] ToddThomson commented on #105
@niemyjski NPM v4.0.0-rc.1 now published. Github dev branch has been updated to be in sync with my internal repository.

[2020-11-10 00:01] niemyjski commented on #105
Thanks!

That resolved that issue but for some reason on linux I'm getting

[code]

No idea why it doesn't fail on macOS, I'm also going to try on windows.

[2020-11-10 00:24] niemyjski commented on #105
Looking at this closer something doesn't add up as the exceptionless.node.json file doesn't even have a reference to this parser at all. So I don't know why it's being referenced. Also the main tsconfig is resolving everything properly.

[code]

Is there a good way to output the logs for this?

[2020-11-10 18:38] ToddThomson commented on #105
@niemyjski You could just run ```tsc``` with full output verbosity. The output from above, TsProject is just doing the Ts compilation phase.

It appears that the module resolution by the typescript compiler is picking up TraceKit from somewhere.

[2020-11-10 18:42] niemyjski commented on #105
Is there a good way to see what arguments tsproject is passing to tsc?

[2020-11-10 19:07] ToddThomson commented on #105
TsProject does not use '''tsc'''. It uses the Typescript API.

All the configuration comes from the tsconfig.json file. TsProject doesn't add or change any config.

Try running ```tsc``` from the command line. It has many ways to peer into what Typescript module resolution is occurring.

[2020-11-10 19:15] ToddThomson commented on #105
@niemyjski Try ```--traceresolution``` and perhaps ```--listfiles```

[2020-11-11 14:47] niemyjski commented on #105
I'm not even sure how I'd pass that to tsproject via gulp, will need to figure that out. Perhaps an option we can set in our tsconfig file that tsproject could pick up?

[2020-11-11 15:41] ToddThomson commented on #105
@niemyjski Use ```tsc``` with ```--traceresolution```.  You don't need to use TsProject to just compile your project.

[2020-11-11 18:06] ToddThomson opened #113 "Removing Support for File Watching (WatchCompilerHost)"
TsProject will drop support for the file watching feature as there are better ways to do this with a build environment. I also do not have the resources to test this feature.

Please let me know if you are reliant on file watching through TsProject.

[2020-11-11 18:35] ToddThomson commented on #105
@niemyjski I will also see if I can include module resolution host tracing in the 4.0 milestone. It looks easy, but I have other features which I want to complete first.

[2020-11-11 18:52] ToddThomson opened #114 "Update CachingCompilerHost to use Typescript IncrementalCompilerHost"
Feature upgrade for TsProject 4 milestone.

[2020-11-12 23:35] ToddThomson commented on #113
Completed.

[2020-11-12 23:35] #113 closed, assigned to ToddThomson

[2020-11-12 23:36] ToddThomson commented on #114
Completed

[2020-11-12 23:36] #114 closed, assigned to ToddThomson

[2020-11-12 23:38] ToddThomson commented on #110
Chokidar dependency has been removed.

[2020-11-12 23:38] #110 closed, assigned to ToddThomson

[2020-11-12 23:40] ToddThomson commented on #109
The minified greeter typescript sample has been re-written for TsProject v4.0.

[2020-11-12 23:40] #109 closed, assigned to ToddThomson

[2020-11-12 23:41] ToddThomson commented on #107
The minified Greeter sample has been re-written for TsProject v4.0.

[2020-11-12 23:41] #107 closed, assigned to ToddThomson

[2020-11-12 23:46] ToddThomson commented on #99
I am moving this issue to Milestone: TsProject Release 4.1.

Almost all the implementation has been completed. The TsProject release 4.0 will focus only on getting the bundling component of TsProject to work with Typescript 4.0.

[2020-11-13 00:36] niemyjski commented on #105
I think I might have to setup a build matrix or something, I get one weird error on windows and works perfectly fine on Mac but fails on linux (will have to setup a vm or something). I ran `node node_modules/typescript/bin/tsc src/exceptionless.node.ts --traceresolution --target es5 --module commonjs  --listfiles` on both windows and Mac and I didn't see the file it's complaining about anywhere in

[2020-11-13 00:36] niemyjski commented on #105
This really makes me wonder if I should move faster to learna. Just so tests and dependencies can be split out better

[2020-11-13 00:56] ToddThomson opened #115 "Add Support for traceResolution in TsConfig.json CompilerOptions"
TsProject ( starting with npm release 4.0.0-rc.3 ) will support the tsconfig.json compiler option:

```"traceResolution" : true | false```

Please also see CompilerOptions: ```"moduleResolution": classic | node```. classic module resolution is the default.

[2020-11-13 01:03] ToddThomson commented on #105
See issue #115

This is just a CI build issue, correct? I've found that cleaning state (everything) within the CI env usually fixes these kind of weird issues. What packages include TraceKit that you are using? Can you search the node_modules dir to TraceKit references? Sorry I can't really help you out on this!

[2020-11-13 14:15] niemyjski commented on #105
Thanks for #115!

I don't think so, there is something going on in linux as Windows and Mac work perfectly with rc2. I would think there would be extremely close similarities between macOS And Linux. If you were curious at the differences look at the linux build step  https://github.com/exceptionless/Exceptionless.JavaScript/actions.

I take a hard dependency on TraceKit and there are no others th

[2020-11-13 17:16] ToddThomson commented on #115
Feature added.

[2020-11-13 17:16] #115 closed, assigned to ToddThomson

[2020-11-13 17:22] ToddThomson commented on #105
@niemyjski Are you OK with me closing this issue? I'd like to push the production version of TsProject 4.0.0 to npm.

[2020-11-13 17:36] niemyjski commented on #105
Yes, my only concern is what ever tests you have you may want to have a build matrix for them :)

[2020-11-13 17:36] #105 closed, assigned to ToddThomson

[2020-11-15 15:41] niemyjski commented on #105
@ToddThomson I just found a breaking issue in rc2 from rc1. In rc2 all the transpired files are placed next to the original (.d.ts, .js, .js.map). They shouldn't be created and they should be piped to the dist/temp folder in the same structure. I'm not sure what changed here I can try taking a look at the comit history

[code]

[2020-11-15 17:49] ToddThomson commented on #105
@niemyjski Yes, the incremental compiler host now writes out the tsbuildinfo file and all individual js files. This is likely not the right thing to do. However, it will take a bit of time to determine the "right" thing to do. There is little info on the incremental API so I will need to go through the latest Typescript 4.1 code. Can you please start a new issue to track this?

[2020-11-17 00:28] ToddThomson opened #116 "Deprecating TsProject in favour of gulp-ts-bundler"
TsProject release 4.0.0, supporting Typescript 4.0, primarily served as a single typescript module bundler for gulp as a vinyl file adaptor. It included a Typescript compiler, a module bundler with a single dts file, and a minifier all in a single library package.

With release 4.1, TsProject will break out the compiler to Ts2Js; the bundler to TsBundler and the minifier to TsMinifier. Much of thi

[2020-11-17 18:33] ToddThomson opened #117 "Src() API Should Not Emit Build Files to Disk Outside of the Gulp Processing Pipeline"
Currently, TsProject emits all build files ( js, d.ts, map ) to disk ( depending on the project tsconfig.json file ).

For Gulp, the built files should only flow through the build pipeline. The types of files flowing through the gulp pipeline will depend on compilerOptions settings is the project tsconfig.json file ( noEmit, declaration, sourceMap ).

[2020-11-17 18:38] ToddThomson commented on #105
@niemyjski I have created issue #117 to track your issue.

Please also note issue #116. TsProject beyond release 4.0.x will become gulp-ts-bundler.

[2020-11-17 20:15] ToddThomson commented on #117
@niemyjski I would like to get your opinion/thoughts on the following:

The purpose of the TsBundler ( used in gulp-ts-bundler and TsProject ) component is to produce bundles. In order to do this it must use a Typescript compiler component ( Ts2Js ) to analyze the project dependencies ( the tsconfig.json file defines the project ).

My question is this: should the TsBundler component emit anything

[2020-11-18 01:14] niemyjski commented on #117
I think it would not output anything other than the bundle assets as it's a bundler. The build artifacts get moved to a dist folder which we publish with our releases. All other temp files are deleted / ignored.  I agree with you completely.

[2020-11-18 01:39] niemyjski commented on #105
Thanks!